{% from 'template/base/_macro.html' import generate_tick_img_by_bool, generate_netease_iframe %}

{% macro video_stats_table(stats) %}
    <table class="video-stats-table stats-table">
        <tbody>
            <tr class="stats-title">
                <td colspan="12">Regional Release</td>
            </tr>
            <tr>
                <td colspan="2" class="td-16-67-width">Japan</td>
                <td colspan="2" class="td-16-67-width">{{ generate_tick_img_by_bool(stats.is_jp) }}</td>
                <td colspan="2" class="td-16-67-width">Global</td>
                <td colspan="2" class="td-16-67-width">{{ generate_tick_img_by_bool(stats.is_global) }}</td>
                <td colspan="2" class="td-16-67-width">China</td>
                <td colspan="2" class="td-16-67-width">{{ generate_tick_img_by_bool(stats.is_cn) }}</td>
            </tr>
            <tr class="stats-title">
                <td colspan="12">Video Type</td>
            </tr>
            <tr>
                <td colspan="2" class="td-16-67-width">Official PV</td>
                <td colspan="2" class="td-16-67-width">{{ generate_tick_img_by_bool(stats.is_pv) }}</td>
                <td colspan="2" class="td-16-67-width">Character PV</td>
                <td colspan="2" class="td-16-67-width">{{ generate_tick_img_by_bool(stats.is_pv_char) }}</td>
                <td colspan="2" class="td-16-67-width">Animation PV</td>
                <td colspan="2" class="td-16-67-width">{{ generate_tick_img_by_bool(stats.is_pv_ani) }}</td>
            </tr>
            <tr>
                <td colspan="3" class="td-25-00-width">MV</td>
                <td colspan="3" class="td-25-00-width">{{ generate_tick_img_by_bool(stats.is_mv) }}</td>
                <td colspan="3" class="td-25-00-width">Animation</td>
                <td colspan="3" class="td-25-00-width">{{ generate_tick_img_by_bool(stats.is_animation) }}</td>
            </tr>
            <tr class="stats-title">
                <td colspan="12">Other</td>
            </tr>
            <tr>
                <td colspan="3" class="td-25-00-width">Used In Ads</td>
                <td colspan="3" class="td-25-00-width">{{ generate_tick_img_by_bool(stats.is_ad) }}</td>
                <td colspan="3" class="td-25-00-width">Appeared In Game</td>
                <td colspan="3" class="td-25-00-width">{{ generate_tick_img_by_bool(stats.is_ingame) }}</td>
            </tr>
        </tbody>
    </table>
{% endmacro %}

{% macro track_stats_table(stats) %}
    <table class="track-stats-table stats-table">
        <tbody>
            <tr class="stats-title">
                <td colspan="8">Track Types</td>
            </tr>
            <tr>
                <td colspan="1" class="td-12-50-width">OST</td>
                <td colspan="1" class="td-12-50-width">{{ generate_tick_img_by_bool(stats.is_ost) }}</td>
                <td colspan="1" class="td-12-50-width">Animation</td>
                <td colspan="1" class="td-12-50-width">{{ generate_tick_img_by_bool(stats.is_ani) }}</td>
                <td colspan="1" class="td-12-50-width">Short Animation</td>
                <td colspan="1" class="td-12-50-width">{{ generate_tick_img_by_bool(stats.is_short) }}</td>
                <td colspan="1" class="td-12-50-width">Other</td>
                <td colspan="1" class="td-12-50-width">{{ generate_tick_img_by_bool(stats.is_other) }}</td>
            </tr>
            <tr class="stats-title">
                <td colspan="8">Release Stats</td>
            </tr>
            <tr>
                <td colspan="1" class="td-12-50-width">In Game</td>
                <td colspan="1" class="td-12-50-width">{{ generate_tick_img_by_bool(stats.is_ba) }}</td>
                <td colspan="1" class="td-12-50-width">JP</td>
                <td colspan="1" class="td-12-50-width">{{ generate_tick_img_by_bool(stats.is_jp) }}</td>
                <td colspan="1" class="td-12-50-width">Global</td>
                <td colspan="1" class="td-12-50-width">{{ generate_tick_img_by_bool(stats.is_global) }}</td>
                <td colspan="1" class="td-12-50-width">CN</td>
                <td colspan="1" class="td-12-50-width">{{ generate_tick_img_by_bool(stats.is_cn) }}</td>
            </tr>
            <tr class="stats-title">
                <td colspan="8">Story Usage</td>
            </tr>
            <tr>
                <td colspan="1" class="td-12-50-width">Overview</td>
                <td colspan="1" class="td-12-50-width">{{ generate_tick_img_by_bool(stats.is_story) }}</td>
                <td colspan="1" class="td-12-50-width">Main Story</td>
                <td colspan="1" class="td-12-50-width">{{ generate_tick_img_by_bool(stats.is_story_main) }}</td>
                <td colspan="1" class="td-12-50-width">Recollection Lobby</td>
                <td colspan="1" class="td-12-50-width">{{ generate_tick_img_by_bool(stats.is_story_memory) }}</td>
                <td colspan="1" class="td-12-50-width">Event Story</td>
                <td colspan="1" class="td-12-50-width">{{ generate_tick_img_by_bool(stats.is_story_event) }}</td>
            </tr>
            <tr class="stats-title">
                <td colspan="8">Mission/Battle Usage</td>
            </tr>
            <tr>
                <td colspan="1" class="td-12-50-width">Overview</td>
                <td colspan="1" class="td-12-50-width">{{ generate_tick_img_by_bool(stats.is_battle) }}</td>
                <td colspan="1" class="td-12-50-width">Main Mission/Battle</td>
                <td colspan="1" class="td-12-50-width">{{ generate_tick_img_by_bool(stats.is_battle_main) }}</td>
                <td colspan="1" class="td-12-50-width">In Story Battle</td>
                <td colspan="1" class="td-12-50-width">{{ generate_tick_img_by_bool(stats.is_battle_story) }}</td>
                <td colspan="1" class="td-12-50-width">Event Mission</td>
                <td colspan="1" class="td-12-50-width">{{ generate_tick_img_by_bool(stats.is_battle_event) }}</td>
            </tr>
        </tbody>
    </table>
{% endmacro %}

{% macro track_playback_table(playback) %}
    <table class="track-playback-table stats-table">
        <tbody>
            <tr class="stats-title">
                <td colspan="8">{{ playback.id }} - {{ playback.path }}</td>
            </tr>
            <tr>
                <td>Description: Type is [{{ playback.type.en }}]. {{ playback.desc.en }}</td>
            </tr>
            <tr>
                <td rowspan="2" colspan="2">Playback Data</td>
                <td colspan="6">Start Time: <code>{{ playback.timestamp.0 }}</code></td>
            </tr>
            <tr>
                <td colspan="6">End Time: <code>{{ playback.timestamp.1 }}</code></td>
            </tr>
            <tr>
                <td colspan="8">{% if playback.iframe_url == "" %}<span>iframe data not available</span>{% else %}{{ generate_netease_iframe(playback.iframe_url) }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endmacro %}

{% macro output_track_playback_table(playbacks) %}{% for i in playbacks %}{{ track_playback_table(i) }}{% endfor %}{% endmacro %}
