{% from "template/en/_macro.html" import filetype_to_name, tracktype_to_name, generate_track_anchor, generate_story_anchor, generate_appearedat_html, generate_character_anchor_flat, generate_character_anchor, output_track_stat_badge_p2p3, output_storypart_source_by_lang %}

{# JS代码生成 #}
{% macro tooltip_add_data_js(data) %}
    <script>
        add_tooltip_data({ {% for key, value in data.items() %}'{{ key }}': '{{ value|page_minify_html|js_html_string_safe }}',{% endfor %} });
    </script>
{% endmacro %}

{# ----------------------------------------------------------------------------------------------------- #}
{# ----------------------------------------------------------------------------------------------------- #}
{# ----------------------------------------------------------------------------------------------------- #}

{# 常量 #}
{% set MAX_CHAR_DISPLAY = 11 %} {# one-indexed, total 10 #}
{% set MAX_CHAR_DISPLAY_FOR_TRACK = 11 %} {# one-indexed, total 10 (for track usage) #}
{% set MAX_TRACK_DISPLAY = 6 %} {# one-indexed, total 5 #}
{% set MAX_STORY_DISPLAY = 6 %} {# one-indexed, total 6 #}
{% set MAX_STORY_CHARACTER_DISPLAY = 11 %} {# one-indexed, total 10 #}
{% set MAX_STORY_TRACK_DISPLAY = 6 %} {# one-indexed, total 5 #}

{# 提取所有story_part里头的desc #}
{% macro get_story_part_desc(story_part) %}{% for segment in story_part.data %}{{ segment.desc.en }}{% endfor %}{% endmacro %}

{# ----------------------------------------------------------------------------------------------------- #}
{# ----------------------------------------------------------------------------------------------------- #}
{# ----------------------------------------------------------------------------------------------------- #}

{# 用于StoryInfo（非StoryPartInfo） #}
{% macro tooltip_storyinfo(story) %}<div class="tooltip-div"><p class="tooltip-title tooltip-ellipsis">{{ story.name.en|js_string_safe }}</p><ul>{% for desc in story.desc %}<li>{{ desc.en|js_string_safe }}</li>{% endfor %}</ul><hr /><p class="tooltip-title tooltip-ellipsis">Story Info: </p>{% set _ = convert_story_into_single_part(story) %}<p>Character (max 10)：{{ generate_character_anchor_flat(extract_storypart_data_character(_), MAX_STORY_CHARACTER_DISPLAY_DISPLAY) }}</p><p>Track (max 5)：{% if all_tracks|length == 0 %}No tracks.{% else %}{% for track in all_tracks %}{% if loop.index == MAX_STORY_TRACK_DISPLAY %}&nbsp; and more.{% break %}{% else %}&nbsp;|&nbsp;{{ generate_track_anchor(track, 0, 0, 0, 0, 0)|page_minify_html }}{% endif %}{% endfor %}{% endif %}</p></div>{% endmacro %}

{# 用于Track对StoryPartInfo的显示 #}
{# 传入的story是StoryInfo，用于显示大故事信息 [Deprecated] #}
{# 之后的story_part才是用来显示故事小节信息的 #}
{% macro tooltip_storypart(story, story_part) %}
    <div class="tooltip-div">
        <p class="tooltip-title tooltip-ellipsis">{{ story_part.name.en|js_string_safe }}</p>
        <p>{{ get_story_part_desc(story_part)|js_string_safe }}</p><hr />

        {# 读取全部人物与曲子 #}
        {% set all_characters = extract_storypart_data_character(story_part) %}
        {% set all_tracks = extract_storypart_data_track(story_part) %}

        <p>{% if all_characters|length == 0 %}<span>No characters to display!</span>{% else %}Character:{{ generate_character_anchor_flat(all_characters, MAX_CHAR_DISPLAY)|page_minify_html }}{% endif %}</p><hr />
        <p>{% if all_tracks|length == 0 %}No tracks to display!{% else %}Track:{% for track in all_tracks %}{% if loop.index == MAX_TRACK_DISPLAY %}&nbsp; and more.{% break %}{% else %}&nbsp;|&nbsp;{{ generate_track_anchor(track, 0, 0, 0, 0, 0)|page_minify_html }}{% endif %}{% endfor %}{% endif %}</p>
    </div>
{% endmacro %}

{# 用于Track Story Character对BackgroundInfo的显示 #}
{# background传入一个由BackgroundInfo #}
{# instance_id指的是track/story的id(尤指instance_id)，用于过滤 #}
{# instance_type可选track/story，用于适配不同数据结构 #}
{# 假设 instance_type="track", instance_id="OST_17" #}
{# 这一函数应生成使用了这一背景，同时BGM包含（因为不精确到小节）OST_17的故事 #}
{% macro tooltip_background(background, instance_id, instance_type) %}
    <div class="tooltip-div">
        <p class="tooltip-title tooltip-ellipsis">{{ background.name.en|js_string_safe }}</p>
        <p>{{ background.desc.en|js_string_safe }}</p>
        <button type="button" class="btn btn-info"><a href="{{ background.image.value }}" target="_blank">View Full Image</a></button>
        <hr />
        <p class="tooltip-subtitle">Story:</p>
        <ol class="tooltip-ol">
            {# 获取数据 #}
            {% if instance_type != "story" %}
                {% set loop_data = namespace(data=get_outer_json(instance_id, instance_type), counter=0) %}
            {% else %}
                {% set loop_data = namespace(data=get_outer_json(background.filename, "background"), counter=0) %}
            {% endif %}

            {# 提取数据 #}
            {% if loop_data.data.filetype == -53 %}
                {% set outer_data = loop_data.data.student.used_by.data_story %}
            {% else %}
                {% set outer_data = loop_data.data.used_by.data_story %}
            {% endif %}

            {# 遍历数据 #}
            {% set processed_data = py_tooltip_background(background, instance_id, instance_type, outer_data) %}
            {% for i in processed_data %}
                <li>{{ generate_story_anchor(i.0)|page_minify_html }}&nbsp;{{ generate_appearedat_html(i.0, i.1)|page_minify_html }}</li>
            {% endfor %}
        </ol>
        {% if background.character|length != 0 %}
        <hr />
        <p class="tooltip-subtitle">Characters in this picture:</p>
        <p>{% for char in background.character[:-1] %}<span>{{ generate_character_anchor(char, 0, 0, background.uuid + "-direct", 0, 0, 0, 0) }}&nbsp;|&nbsp;</span>{% endfor %}{{ generate_character_anchor(background.character[-1], 0, 0, background.uuid + "-direct", 0, 0, 0, 0) }}</p>
        {% endif %}
    </div>
{% endmacro %}

{# 用于Background Character对TrackInfo的显示 #}
{# track传入一个TrackInfo #}
{# instance_id指的是background/character(实为uuid)/story的instance_id，用于过滤 #}
{# instance_type可选background/character/story #}
{% macro tooltip_track(track, instance_id, instance_type) %}
    {% set track_json = get_outer_json(track.instance_id, "track") %}
    <div class="tooltip-div">
        <p class="tooltip-title tooltip-ellipsis">{{ tracktype_to_name(track.track_type) }}&nbsp;{{ track.no }}.&nbsp;{{ track.name.realname.en|js_string_safe }} <span class="track-stats-badge stats-badge">{{ output_track_stat_badge_p2p3(track.stats) }}</span></p><hr />

        {% if track_json.bond_chars|length != 0 %}
        <p class="tooltip-subtitle">Recollection Lobby Characters:</p>
        <p>{{ generate_character_anchor_flat(track_json.bond_chars)|page_minify_html }}</p>
        <hr />
        {% endif %}

        <p class="tooltip-subtitle">Story:</p>
        <ol class="tooltip-ol">
            {# 获取数据 #}
            {% set loop_data = namespace(data=track_json, counter=0) %}

            {# 提取数据 #}
            {% set outer_data = loop_data.data.used_by %}

            {# 遍历数据 #}
            {% set processed_data = py_tooltip_track(track, instance_id, instance_type, outer_data) %}
            {% for i in processed_data %}
                {% set auto_color = namespace(auto=False) %}
                {% if instance_type == "track" %}
                    {% if i.0.bgm_special %}
                        {# 如果存在特殊BGM（回忆大厅/战斗曲） #}
                        {% for track in i.0.bgm_special %}
                            {% if track.uuid == instance_uuid %}
                                {# 如果正好是这首 #}
                                {% set auto_color.auto = True %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% set auto_color.auto = True %}
                {% endif %}

                <li>{{ generate_story_anchor(i.0, None, "", auto_color.auto)|page_minify_html }}&nbsp;{{ generate_appearedat_html(i.0, i.1)|page_minify_html }}</li>
            {% endfor %}
        </ol>

        {% if instance_type == "story" %}
            <hr />
            <p class="tooltip-subtitle">Characters (top {{ (MAX_CHAR_DISPLAY_FOR_TRACK-1)|string }} most related):</p>
            {% set all_char = [] %}
            {% for char in outer_data.data_character.values() %}{% do all_char.append(char.0) %}{% endfor %}
            <p>{{ generate_character_anchor_flat(all_char, MAX_CHAR_DISPLAY_FOR_TRACK)|page_minify_html }}</p>
        {% endif %}
    </div>
{% endmacro %}


{# 用于Story Track对CharacterInfo的显示 #}
{# character传入CharacterInfo，应该是dict #}
{% macro tooltip_character(character, instance_id, instance_type) %}
    <div class="tooltip-div">
        {# 获取数据 #}
        {% if character.filetype == 52 %}
            {# NPC #}
            {% set loop_data = namespace(data=get_outer_json(character.namespace[-1], "character")) %}
        {% else %}
            {% set loop_data = namespace(data=get_outer_json(character.uuid, "character")) %}
        {% endif %}
        {# 提取数据 #}
        {% if loop_data.data.filetype == 52 %}
            {# NPC #}
            {% set char_data = loop_data.data %}
            {% set char_type = "npc" %}
            {% set char_name = char_data.name.en %}
        {% else %}
            {# Student #}
            {% set char_data = loop_data.data.student %}
            {% set char_type = "stu" %}
            {% set char_name = char_data.name.name.en %}
        {% endif %}
        {% set outer_data = char_data.used_by %}


        {% if instance_type == "character" %}
            {# 为 char-char 进行的特殊设置 #}
            {% set _other_char_data = get_outer_json(instance_id, "character") %}
            {% if _other_char_data.filetype == 52 %}
                {# NPC #}
                {% set _other_char_name = _other_char_data.name.en %}
            {% else %}
                {% set _other_char_name = _other_char_data.student.name.name.en %}
            {% endif %}
            <p class="tooltip-title tooltip-ellipsis">{{ char_name|js_string_safe }} &#38; {{ _other_char_name|js_string_safe }}</p>
        {% else %}
            {# 大标题 #}
            <p class="tooltip-title tooltip-ellipsis">{{ char_name|js_string_safe }}</p>
        {% endif %}
        <hr />

        <p class="tooltip-subtitle">Story:</p>
        {# 同时关联的故事 #}
        <ol class="tooltip-ol">
            {% set processed_data = py_tooltip_character(character, instance_id, instance_type, loop_data.data) %}
            {% for i in processed_data %}
                <li>{{ generate_story_anchor(i.0)|page_minify_html }}&nbsp;{{ generate_appearedat_html(i.0, i.1)|page_minify_html }}</li>
            {% endfor %}
        </ol>

        {# 针对 char-char 问题，规避因 tooltip id 冲突导致的数据显示问题 #}
        {% if instance_type not in ["character"] %}
            <p class="tooltip-subtitle">Related Characters:</p>
            {% if char_type == "stu" %}
            <p>Other Variants: {{ generate_character_anchor_flat(char_data.related_to.character_variant, MAX_CHAR_FOR_OTHER_CHAR) }}</p>
            {% endif %}
            <p>Other Characters: {{ generate_character_anchor_flat(char_data.related_to.character_other, MAX_CHAR_FOR_OTHER_CHAR) }}</p>
        {% endif %}
    </div>
{% endmacro %}

{% macro tooltip_album(album) %}
    {% set album = get_outer_json(album.namespace[-1], "album") %}

    <div class="tooltip-div">
        <p class="tooltip-title tooltip-ellipsis">{{ album.name.en|js_string_safe }}</p>
        <p>Released date: {{ album.release_date_format }}</p>
        <p>Total {{ album.track_num }} tracks in {{ album.disc_num }} discs.</p>
        <hr />
        <ol class="tooltip-ol">
            {% for disc in album.tracks %}
                {% set disc_index = loop.index %}
                {% for track in disc %}
                    <li>&#91;Disc {{ disc_index }}&#93; {{ generate_track_anchor(track, False, False, "album-" + album.album_id, False, False) }}</li>
                {% endfor %}
            {% endfor %}
        </ol>
    </div>
{% endmacro %}

{% macro tooltip_storypart_source(part) %}
    {% set player_html_id = "storypart-source-player" %}
    {% set source_dict = part.source %}

    <p class="tooltip-title">{{ part.name.en|js_string_safe }}</p>
    <p>The following lists all the available sources.</p>
    <ul>
        <li>English: {{ output_storypart_source_by_lang(source_dict.en, player_html_id) }}</li>
        <li>Chinese Traditional: {{ output_storypart_source_by_lang(source_dict.zh_tw, player_html_id) }}</li>
        <li>Chinese Simplified (CN server): {{ output_storypart_source_by_lang(source_dict.zh_cn_cn, player_html_id) }}</li>
        <li>Chinese Simplified (JP fan trans): {{ output_storypart_source_by_lang(source_dict.zh_cn_jp, player_html_id) }}</li>
    </ul>

    <div id="{{ player_html_id }}"></div>
    <div id="tooltip-width-detect"></div>
{% endmacro %}
