<div class=" w3-xlarge w3-hide-large" id="git-wiki-mobile-header">
    <button class="w3-button w3-teal" onclick="sidebar_toggle()">☰</button>
    <a href="/">
        <img src="/static/images/site/logo.png" height="30px">
        <span style="font-size: 0.9em;">BA OST Index</span>
    </a>
</div>

<header class="w3-sidebar w3-bar-block w3-collapse" id="git-wiki-sidebar">
    <div>
        <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="sidebar_toggle()">Close ×</button>
        <div class="w3-hide-medium w3-hide-small">
            <div class="git-wiki-main-logo">
                <a href="/">
                    <img src="/static/images/site/logo.png">
                    <h1 style="margin-top: 10px; margin-bottom: 5px;">BA OST Index</h1>
                </a>
                <p>Git-Wiki demo and documentation</p>
            </div>
        </div>

        <ul class="git-wiki-downloads">
            <li><a href="https://github.com/Drassil/git-wiki/zipball/gh-pages">Download <strong>ZIP
                File</strong></a></li>
            <li><a href="https://github.com/Drassil/git-wiki/tarball/gh-pages">Download <strong>TAR
                Ball</strong></a></li>
            <li><a href="https://github.com/Drassil/git-wiki">View On <strong> Github </strong></a></li>
        </ul>

        <div class="git-wiki-page-list">
            <span class="page-list-title">Pages  (Latest 10 updated) :</span>
            <ul class="page-list">
                <li class="page-list-item"><a href="https://www.drassil.org/git-wiki/main_page">Welcome to git-wiki demo!</a></li>
                <li class="page-list-item"><a href="https://www.drassil.org/git-wiki/theme-github">Theme: Github</a></li>
                <li class="page-list-item"><a href="https://www.drassil.org/git-wiki/theme-lux">Theme: Lux</a></li>
                <li class="page-list-item"><a href="https://www.drassil.org/git-wiki/theme-united">Theme: United</a></li>
                <li class="page-list-item"><a href="https://www.drassil.org/git-wiki/Demo">Demo (example wiki page)</a></li>
                <li class="page-list-item"><a href="https://www.drassil.org/git-wiki/changelogs">Changelogs</a></li>
                <li class="page-list-item"><a href="https://www.drassil.org/git-wiki/customize">Customize git-wiki</a></li>
                <li class="page-list-item"><a href="https://www.drassil.org/git-wiki/examples">Made with Git-Wiki</a></li>
                <li class="page-list-item"><a href="https://www.drassil.org/git-wiki/press">Press</a></li>
                <li class="page-list-item"><a href="https://www.drassil.org/git-wiki/theme-default">Theme: Git-Wiki Default</a></li>
            </ul>
        </div>

        <div class="git-wiki-page-list">
            <span class="post-list-title">Posts  (Latest 5 updated) :</span>
            <ul class="post-list">
                <li class="post-list-item"><a href="https://www.drassil.org/git-wiki/assets/blog/posts/2018/12/17/first-post.html">First Post</a></li>
                <li class="post-list-item"><a href="https://www.drassil.org/git-wiki/assets/blog/posts/2018/12/17/blog-refactoring-v2.1.0.html">Blog Refactoring V2.1.0</a></li>
                <li class="post-list-item"><a href="https://www.drassil.org/git-wiki/assets/blog/posts/2020/01/07/version-2-5.html">Version 2 5</a></li>
            </ul>
            <span class="post-list read-all"><a href="https://www.drassil.org/git-wiki/assets/blog/">Read all</a></span>
        </div>
    </div>
</header>