<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>{% block title %}{% endblock title %}- BA OST Index</title>

    <script defer src="{{ get_static('jsdelivr/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ get_static('jsdelivr/tippy.light.min.css') }}">
    <script defer src="{{ get_static('jsdelivr/popper.min.js') }}"></script>
    <script defer src="{{ get_static('jsdelivr/tippy-bundle.umd.min.js') }}"></script>
    <script defer src="{{ get_static('jsdelivr/popup-js.min.js') }}"></script>
    <script defer src="{{ get_static('jsdelivr/lazysizes.min.js') }}"></script>

    <link rel="stylesheet" href="{{ get_static('css/git-wiki-style.css') }}">
    <link rel="stylesheet" href="{{ get_static('css/wikipedialize.css') }}">
    <link rel="stylesheet" href="{{ get_static('css/custom.css') }}">
    <link rel="stylesheet" href="{{ get_static('css/tooltip.css') }}">
    <link rel="stylesheet" href="{{ get_static('css/popup.css') }}">
    <link rel="stylesheet" href="{{ get_static('css/text-color.css') }}">


    <link rel="shortcut icon" type="image/png" href="{{ get_static('images/site/favicon.png') }}">
    <style>
        body {
            transition: opacity ease-in 0.2s;
        }

        body[unresolved] {
            opacity: 0;
            display: block;
            overflow: hidden;
            position: relative;
        }
    </style>
    <script src="{{ get_static('js/common.js') }}"></script>
    <script src="{{ get_static('js/zhcn_switch.js') }}"></script>
    <script src="{{ get_static('js/highlight_element.js') }}"></script>
    <script defer src="{{ get_static('js/tooltip.js') }}"></script>
    <script src="{{ get_static('js/lang_switch.js') }}"></script>
    <script src="{{ get_static('js/time_show.js') }}"></script>
    <script defer src="{{ get_static('js/popup.js') }}"></script>
    <script defer src="{{ get_static('js/cn_popup.js') }}"></script>
    <script src="{{ get_static('js/track_player.js') }}"></script>
    <script src="{{ get_static('js/story_video_player.js') }}"></script>
    <script src="{{ get_static('js/interpage_bottom.js') }}"></script>
    <script src="{{ get_static('js/story_view_mode.js') }}"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BKTB7R8TC3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-BKTB7R8TC3');
    </script>
    <!-- Microsoft Clarity -->
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "kdlc104n0n");
    </script>
    {% block other_head %}{% endblock other_head %}
</head>

<body style="visibility: visible; opacity: 1;" lang="{% block body_langcode %}{% endblock body_langcode %}">
<div class="wrapper" id="main-wrapper">
    {% block header %}{% endblock header %}
    <script>
        function sidebar_toggle() {
            var sidebar = document.getElementById("git-wiki-sidebar");
            if (sidebar.style.display === "block") {
                sidebar.style.display = "none";
                sidebar.style.position = "inherit";
            } else {
                $(sidebar).attr('style', 'display: block;');
            }
        }
    </script>

    <div class="git-wiki-page">
        <div id="interpage-navi">
            {% block navi %}{% endblock navi %}
            <hr/>
        </div>

        <div id="git-wiki-content">
            {% block article_content %}{% endblock article_content %}{{ content }}
        </div>
    </div>
    <script>
        displayZhcnString();
    </script>
</div>

<div id="interpage-navi-bottom">
    <div>
        <div id="interpage-navi-bottom-left">
            {{ navi_var }}
        </div>
        <div id="interpage-navi-bottom-right"></div>
    </div>
</div>

<div class="wrapper" id="bottom-wrapper">
    {% block footer %}{% endblock footer %}
</div>

<!--全局JS，用于显示跳转到加速站的弹窗-->
<script>
    addEventListener("DOMContentLoaded", function () {
        checkCnIP();
        showStoryByViewMode();
    });
    addEventListener("load", function () {
        interpageBottomAdjust();
    })
    addEventListener("resize", function () {
        interpageBottomAdjust();
    })
</script>

<!--
This page is generated with Jinja2 by Python 3.
For more information about this project: https://github.com/BA-OST-Index/
Generated time (UTC): {{ get_current_utc() }}
-->
</body>
</html>
