<div class=" w3-xlarge w3-hide-large" id="git-wiki-mobile-header">
    <button class="w3-button w3-teal" onclick="sidebar_toggle()">☰</button>
    <a href="/">
        <img src="{{ get_static('images/site/logo.png') }}" height="30px">
        <span style="font-size: 0.9em;">BA OST Index</span>
    </a>
</div>

<header class="w3-sidebar w3-bar-block w3-collapse" id="git-wiki-sidebar">
    <div>
        <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="sidebar_toggle()">Close ×</button>
        <div class="w3-hide-medium w3-hide-small">
            <div class="git-wiki-main-logo">
                <a href="/">
                    <img src="{{ get_static('images/site/logo.png') }}">
                    <h1 style="margin-top: 10px; margin-bottom: 5px;">BA OST Index</h1>
                </a>
                <p><span lang="en">An unofficial fan-made wiki dedicated for Blue Archive's OST.</span><br /><span lang="zh-Hans">一个非官方的、致力于蔚蓝档案OST的饭制网站。</span><br /><span lang="zh-Hant">一個非官方的、致力於蔚藍檔案OST的飯製網站。</span></p>
            </div>
        </div>

        <div class="git-wiki-page-list">
            <span class="page-list-title">Languages/语言：</span>
            <ul class="page-list">
                <li class="page-list-item" lang="en"><a href="/en/">English</a></li>
                <li class="page-list-item" lang="zh-Hans"><a href="/zh_cn/">中文(简体)</a></li>
                <li class="page-list-item" lang="zh-Hant"><a href="/zh_tw/">中文(繁體)</a></li>
            </ul>
        </div>
    </div>
</header>