{% extends "template/en/base.html" %}
{% block title %}About This Site {% endblock title %}

{% block article_content %}
    <h1>About This Site</h1>
    <h2>The Site Itself</h2>
    <p>This website is the <a href="https://github.com/BA-OST-Index/ost_data_site">front-end showcase</a> part of the project <a href="https://github.com/BA-OST-Index/">BA OST Index</a>. About other parts of the project, please visit the project's homepage.</p>
    <p>This website is a fan website of Blue Archive. All the information on this site are <b>PUBLICLY AVAILABLE</b>. No content on this site should represent any official opinions.</p>
    <p>This is a non-profit, non-commercial website.</p>
    <p>This site is not affiliated in any forms with Blue Archive, Yostar, Nexon and Nexon Games.</p>

    <h2>Text and Data</h2>
    <p>Part of the data of this site is from <a href="">SchaleDB</a> and we've <a href="https://github.com/lonqie/SchaleDB/issues/27">confirmed that it is fine to use</a>.</p>
    <p>Part of the data of this site is from <a href="https://github.com/sctop">Sctop</a>. This part of the data is under the <a href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a> license.</p>
    <p>All game artwork, information and assets used in this site are the property and copyright of the respective authors.</p>

    <h2>Technology</h2>
    <p>This website is developed with <a href="https://python.org/">Python</a> and the library <a href="https://jinja.palletsprojects.com/en/3.1.x/">Jinja</a>.</p>
    <p>This website is deployed on <a href="https://pages.github.com/">GitHub Pages</a> and uses <a href="https://www.cloudflare.com/">Cloudflare CDN</a> to accelerate.</p>
    <p>This website uses <a href="https://marketingplatform.google.com/about/analytics/">Google Analytics</a> for statistics monitoring.</p>
    <p>The code is under <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
{% endblock article_content %}