{% extends "template/en/base.html" %}

<!--
{% block toc %}
Contents:
<ol id="git-wiki-toc">
    <li><a href="https://www.drassil.org/git-wiki/main_page#welcome-to-git-wiki-demo">Welcome to git-wiki
        demo!</a>
        <ol>
            <li>Hello!</li>
        </ol>
    </li>
</ol>
{% endblock toc %}
-->

{% block article_content %}
    <h1>Welcome Sensei!</h1>
    <p>This is BA OST Index, a project created by <a href="https://github.com/sctop">sctop</a> in an attempt to track relationships between each track and the stories, battles, as well as the backgrounds, characters and UIs!</p>
{% endblock article_content %}