{% extends "template/en/base.html" %}
{% from 'template/en/_macro_page.html' import output_usedby_track_list %}

{% block title %}Album/{{ album.name.en }}{% endblock title %}
{% block article_content %}
    <h1>Album/{{ album.name.en }}</h1>
    {% include "template/en/infobox/album.html" %}
    <p><b>{{ album.name.en }}</b> is an album release by Blue Archive.</p>
    <p>{{ album.desc.en }}</p>

    <h2>Track Information</h2>
    <p>Overview: In total, there are <b>{{ album.track_num }} tracks</b> (<b>{{ album.disc_num }} discs</b>) on this album. This album is released on <b>{{ album.release_date_format }}</b>.</p>
    {% for disc in album.tracks %}
        <h3>Disc {{ loop.index }} ({{ disc|length }} tracks)</h3>
        {{ output_usedby_track_list(disc) }}
    {% endfor %}
{% endblock %}
