{% extends "template/en/base.html" %}

{% block title %}Background/{{ background.filename }}{% endblock title %}
{% block article_content %}
    {% from "template/en/_macro.html" import output_usedby_story, output_usedby_track %}
    <h1>Background/{{ background.filename }}</h1>
    {% include "template/en/infobox/background.html" %}
    <h2>Usage Info</h2>
    <h3>Stories</h3>
    {{ output_usedby_story(background.used_by.data_story) }}
    <h3>Tracks</h3>
    {{ output_usedby_track(background.used_by.data_track) }}
{% endblock %}