{% extends "template/en/base.html" %}

{% block title %}Background/{{ background.filename }}{% endblock title %}
{% block article_content %}
    {% from "template/en/_macro_page.html" import output_usedby_story, output_usedby_track, output_usedby_character, output_usedby_character_dict %}
    <h1>Background/{{ background.filename }}</h1>
    {% include "template/en/infobox/background.html" %}
    <p>Description: {{ background.desc.en }}</p>

    <h2>Usage Info</h2>
    <h3>Stories</h3>
    {{ output_usedby_story(background.used_by.data_story, background.uuid, "background") }}
    <h3>Tracks</h3>
    {{ output_usedby_track(background.used_by.data_track, 1, background.uuid, background.uuid, "background") }}
    <h3>Characters</h3>
    <h4>Characters in the image</h4>
    {{ output_usedby_character(background, background.uuid + "-direct", background.uuid + "-direct", "background", False, -1, True) }}
    <h4>Other Characters</h4>
    {{ output_usedby_character_dict(background.used_by.data_character, background.uuid, background.uuid, "background", False) }}
{% endblock %}