{% extends "template/en/base.html" %}

{% block title %}Battle/{% if battle.filetype == 21 %}{{ battle.chapter }}-{{ battle.no[:2] }} {% endif %}{{ battle.name.en }}{% endblock title %}
{% block article_content %}
    {% from "template/en/_macro.html" import get_social_for_composer, generate_track_anchor %}
    <h1>Battle/<span>{% if battle.filetype == 21 %}{{ battle.chapter }}-{{ battle.no[:2] }}&nbsp;{% endif %}{{ battle.name.en }}</span></h1>
    {% include "template/en/infobox/battle.html" %}

    {% if battle.filetype in [24, 28] %}
        <h2>BOSS Info</h2>
        <ul>
            <li>Name: {{ battle.name.en }} ({{ battle.name.jp }})</li>
            {% if battle.filetype == 24 %}
            <li>Faction: {{ battle.faction.en }} ({{ battle.faction.jp }})</li>
            <li>Description: {{ battle.profile.en }}</li>
            {% endif %}
        </ul>
    {% endif %}

    <h2 id="track">Track Info</h2>
    <ul>
        {% if battle.track|is_list %}
            {% for i in battle.track %}
                <li>{{ generate_track_anchor(i, 0, 0, 0, 0, True) }}</li>
            {% endfor %}
        {% else %}
            <li>{{ generate_track_anchor(battle.track, 0, 0, 0, 0, True) }}</li>
        {% endif %}
    </ul>
{% endblock %}