{% extends "template/en/base.html" %}

{% block title %}Event/{{ event.name.en }}/Battles{% endblock title %}
{% block article_content %}
    <h1>Event/{{ event.name.en }}/Battles</h1>
    <p>{{ event.desc.en }}</p>
    <h2>All Battles</h2>
    <ul>
        {% for i in include %}
            {% set i = i.1 %}

            {% if i.no[0] == "N" %}
                {% set mission_type = "Normal" %}
            {% else %}
                {% set mission_type = "Challenge" %}
            {% endif %}

            <li><a href="/en/event/{{ i.event_id }}/battle/{{ i.no }}.html">Battle {{ i.no[1:] }} ({{ mission_type }})</a></li>
        {% endfor %}
    </ul>
{% endblock %}