{% extends "template/en/base.html" %}

{% block title %}NPC/{{ char.name.en }}{% endblock title %}
{% block article_content %}
    {% from "template/en/_macro_page.html" import output_usedby_story, output_usedby_track, output_relatedto_character, output_usedby_background, output_usedby_character_dict, output_usedby_ui %}

    <h1>NPC/{{ char.name.en }}</h1>
    {% include "template/en/infobox/npc.html" %}

    <p><b>{{ char.name.en }} <span lang="jp">({{ char.name.jp }})</span> is an NPC in the game.</b></p>

    <h2>Description</h2>
    <p>{{ char.desc.en }}</p>

    <h2>Usage Info</h2>
    <h3>Backgrounds</h3>
    <h4>Direct Backgrounds</h4>
    <p>The following backgrounds are ones with the characters in them.</p>
    {{ output_usedby_background(char.used_by.data_background_direct, char.namespace[-1] + "-direct", "", "character_bg_direct", True) }}
    <h4>Indirect Backgrounds</h4>
    <p>The following backgrounds are the ones that the character appears with it, but not exactly in the scene (e.g. when in communication).</p>
    {{ output_usedby_background(char.used_by.data_background_by_comm, char.namespace[-1] + "-indirect", char.namespace[-1], "character", True) }}
    <h4>In-Story Backgrounds</h4>
    {{ output_usedby_background(char.used_by.data_background, char.namespace[-1], char.namespace[-1], "character", True) }}
    <h3>Stories</h3>
    {{ output_usedby_story(char.used_by.data_story, char.uuid, "character") }}
    <h3>Tracks</h3>
    {{ output_usedby_track(char.used_by.data_track, 1, char.uuid, char.namespace[-1], "character") }}
    <h3>Characters along the way</h3>
    <p>The following characters are the ones who have appeared with this character.</p>
    {{ output_usedby_character_dict(char.used_by.data_character, char.uuid + "-direct", char.namespace[-1], "character", True)  }}
    <h3>UI</h3>
    <p>The following lists the UIs where the character is used as a <i><a href="https://en.wikipedia.org/wiki/Yuru-chara">Yuru-chara</a></i>.</p>
    {{ output_usedby_ui(char.used_by.data_ui) }}

    <h2>Related Characters</h2>
    {{ output_relatedto_character({"character": char.related_to.character_other}, "True") }}
{% endblock %}