{% extends "template/en/base.html" %}

{% block title %}NPC/{{ char.name.en }}{% endblock title %}
{% block article_content %}
    {% from "template/en/_macro_page.html" import output_usedby_story, output_usedby_track, output_relatedto_character %}

    <h1>NPC/{{ char.name.en }}</h1>
    {% include "template/en/infobox/npc.html" %}

    <p><b>{{ char.name.en }} <span lang="jp">({{ char.name.jp }})</span> is an NPC in the game.</b></p>

    <h2>Description</h2>
    <p>{{ char.desc.en }}</p>

    <h2>Usage Info</h2>
    <h3>Stories</h3>
    {{ output_usedby_story(char.used_by.data_story, char.uuid, "character") }}
    <h3>Tracks</h3>
    {{ output_usedby_track(char.used_by.data_track, 1, char.uuid, char.namespace[-1], "character") }}

    <h2>Related Characters</h2>
    {{ output_relatedto_character({"character": char.related_to.character_other}, "True") }}
{% endblock %}