{% extends "template/en/base.html" %}
{% if story.filetype in [14, 15] %}
    {% if story.filetype == 14 %}
        {% set _story_no_string = "E" + story.pos.segment|string %}
    {% else %}
        {% set _story_no_string = "E" + story.pos.no|string %}
    {% endif %}
{% else %}
    {% set _story_no_string = "V" + story.pos.volume|string + "C" + story.pos.chapter|string + "E" + story.pos.segment|string %}
{% endif %}

{% block title %}Story/[{{ _story_no_string }}] {{ story.name.en }}{% endblock title %}
{% block article_content %}
    {% from "template/en/_macro_tooltip.html" import tooltip_storypart_source, tooltip_add_data_js %}
    {% from "template/en/_macro_page.html" import output_usedby_character, output_usedby_track_list, output_usedby_background_list, output_storyinfo_source %}
    {% from "template/en/_macro.html" import get_ordinal_number, filetype_to_name, generate_track_anchor %}
    {% from "template/base/_macro.html" import get_story_text_color_css, get_storypart_text_color_css, generate_popup_for_tooltip_anchor %}

    <h1>Story/[{{ _story_no_string }}] <span class="{{ get_story_text_color_css(story) }}">{{ story.name.en }}</span></h1>
    {% include "template/en/infobox/story.html" %}
    {% if story.filetype == 11 %}
        <p><b>{{ story.name.en }}</b> is the {{ get_ordinal_number(story.pos.segment) }} story of Chapter {{ story.pos.chapter }}, Volume {{ story.pos.volume }} of the main story.</p>
    {% elif story.filetype == 15 %}
        <p><b>{{ story.name.en }}</b> is the {{ get_ordinal_number(story.pos.no) }} story of the bond story of the student <img src="{{ get_static('images/student/icon/' + story.student.image.collection_texture + '.webp') }}" class="icon-stu"/>{{ story.student.name.personal_name.en }}.</p>
    {% elif story.filetype == 14 %}
        <p><b>{{ story.name.en }}</b> is the {{ get_ordinal_number(story.pos.segment) }} story of the event {{ story.parent_data.0.name.en }}.</p>
    {% else %}
        <p><b>{{ story.name.en }}</b> is the {{ get_ordinal_number(story.pos.no) }} story of Chapter {{ story.pos.chapter }} of story {{ story.parent_data.1.name.en }}.</p>
    {% endif %}
    <p>Descriptions:</p>
    <ul>
        {% for desc in story.desc %}
            <li>{{ desc.en }}</li>
        {% endfor %}
    </ul>

    <h2>Battle/Bond Track Info</h2>
    {% if story.is_battle or story.is_memory %}
        <ul>
            {% for track in story.bgm_special %}
                <li>{{ generate_track_anchor(track, 0, 0, 0, 0, 1) }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>This story contains no battle/recollection lobby part, therefore there's no such track information.</p>
    {% endif %}

    <h2>Story Reference</h2>
    <p>The following lists all the available sources for referencing this story.</p>
    {{ output_storyinfo_source(story.source) }}

    <h2>Story Parts</h2>
    {% set story_part_tooltip_data = {} %}
    {% for part in story.part %}
        {% set part_index = loop.index %}

        {# 检测有没有source #}
        {% set enable_source = False %}
        {% if part.source.en|length != 0 or part.source.zh_tw|length != 0 or part.source.zh_cn_cn|length != 0 or part.source.zh_cn_jp|length != 0 %}
            {% set enable_source = True %}
            {% set tooltip_id = generate_tooltip_id("storypart", part, loop.index) %}
            {% do story_part_tooltip_data.update({tooltip_id: tooltip_storypart_source(part)}) %}
        {% endif %}

        <h3 class="{{ get_storypart_text_color_css(part) }}" id="story-part-{{ loop.index }}">{{ loop.index }}. {{ part.name.en }} {% if enable_source %}{{ generate_popup_for_tooltip_anchor(tooltip_id) }}{% endif %}</h3>

        {% for segment in part.data %}
            <ul style="margin: 0;">
                <li id="story-part-{{ part_index }}-seg-{{ loop.index }}">{{ segment.desc.en }}</li>
                <h4>Characters</h4>
                {% if part.is_battle %}
                    {{ output_usedby_character(segment, "story-" + story.instance_id, story.instance_id, "story", "True", part.battle_leader_pos) }}
                {% else %}
                    {{ output_usedby_character(segment, "story-" + story.instance_id, story.instance_id, "story") }}
                {% endif %}
                <h4>Tracks</h4>
                {{ output_usedby_track_list(segment.track, "story-" + story.instance_id, "story", story.instance_id) }}
                <h4>Backgrounds</h4>
                {{ output_usedby_background_list(segment.background, "story-" + story.instance_id, story.instance_id, "story") }}
            </ul>
        {% endfor %}
    {% else %}
        <p>Nothing to show!</p>
    {% endfor %}
    {{ tooltip_add_data_js(story_part_tooltip_data) }}
{% endblock %}