{% extends "template/en/base.html" %}
{% from 'template/en/_macro.html' import output_usedby_story, output_usedby_track %}

{% block title %}Student/{{ char.student.name.name.en }}{% endblock title %}
{% block article_content %}
    <h1>Student/{{ char.student.name.name.en }}</h1>
    {% include "template/en/infobox/student.html" %}
    {% set student = char.student %}
    <p><b>{{ student.name.family_name.en }} {{ student.name.personal_name.en }}</b> <span lang="jp">(JP: {{ student.name.family_name.jp }} {{ student.name.personal_name.jp }})</span> is a {{ student.age.en }} student from {{ student.club.en }} of {{ student.school.long.en }}. She enjoys {{ student.hobby.en }}.</p>
    <h2>Relationship/Bond Story</h2>
    {% set bond = char.include.0.1.include %}
    {% for i in bond %}
        {% set value = i.1 %}
        <h3><a href="bond/{{ value.pos.no }}.html">{{ value.pos.no }}. {{ value.name.en }}</a></h3>
        {% if value.is_memory %}
            {% set track = value.bgm_bond %}
            <big><p>Recollection Lobby can be collected from this story. Lobby BGM: <a href="/track/{{ track.namespace.1 }}/{{ track.namespace.2 }}">{{ track.name.realname.en }}</a> (No. {{ track.no }})</p></big>
        {% endif %}
        <p>{{ value.desc.en }}</p>
        <h4>Story Parts</h4>
        <ul>
            {% for part in i.part %}
                <li>{{ part.name.en }} - {{ part.desc.en }}</li>
            {% endfor %}
        </ul>
        <h4>Gallery</h4>
        <table class="gallery">
            <tr>
                <td class="gallery-img"><img src="{{ value.image.value }}"><p class="gallery-caption"><a href="/en/background/{{ value.filename }}.html">{% if value.desc.en != "" %}{{ value.desc.en }}{% else %}{{ value.filename }}{% endif %}</a></p></td>
            </tr>
        </table>
    {% else %}
        <p>Nothing to show!</p>
    {% endfor %}
    <h2>Other stories</h2>
    {{ output_usedby_story(char.student.used_by.data_story) }}
    <h2>Tracks</h2>
    {{ output_usedby_track(char.student.used_by.data_track) }}
{% endblock %}