{% extends "template/en/base.html" %}
{% from 'template/en/_macro_page.html' import output_usedby_track_list, output_usedby_background_list %}

{% block title %}Tag/{{ tag.name.en }}{% endblock title %}
{% block article_content %}
    <h1>Tag/{{ tag.name.en }}</h1>
    <p>This is a page showing the detail information of the tag "{{ tag.name.en }}".</p>
    <p>Description: {{ tag.desc.en }}</p>
    {% include "template/en/infobox/tag.html" %}
    <h2>Usage Info</h2>
    <h3>Tracks</h3>
    {{ output_usedby_track_list(tag.used_by.data_track, "", "tag") }}
    <h3>Backgrounds</h3>
    {{ output_usedby_background_list(tag.used_by.data_background, "", "story") }}
{% endblock %}