{% extends "template/en/base.html" %}

{% block title %}Track/{{ track.name.realname.en }}{% endblock title %}
{% block other_head %}
    <script src="/static/js/track_player.js"></script>
{% endblock other_head %}
{% block article_content %}
    {% from "template/en/_macro.html" import track_type_for_show, output_usedby_background, output_usedby_story, output_usedby_battle, output_usedby_ui, output_usedby_video, output_usedby_character_dict %}

    <h1>Track/{{ track.no }}. {{ track.name.realname.en }}</h1>
    {% include "template/en/infobox/track.html" %}
    <p><b>{{ track.name.realname.en }}</b> is the No. {{ track.no }} track in the {{ track_type_for_show(track) }}.</p>
    <p>{{ track.desc.en }}</p>
    <h2>Name Translation</h2>
    <h3>Original Names</h3>
    <ul>
        <li>English: {{ track.name.realname.en }}</li>
        <li>中文简体 (Chinese Simplified): {{ track.name.realname.zh_cn }}</li>
        <li>中文繁體 (Chinese Traditional): {{ track.name.realname.zh_tw }}</li>
    </ul>
    <h3>Other Names</h3>
    <ul>
        {% for i in track.name.known_as %}
            <li>{{ i.en }} / {{ i.zh_cn }} / {{ i.zh_tw }}</li>
        {% else %}
            <li>Nothing to show!</li>
        {% endfor %}
    </ul>
    <h2>Play Music Here</h2>
    <p>Tips: In order to avoid potential copyright infringement, we're using <b>third-party embedded web players</b> to provide services. You can also manually visit them by clicking the links in the infobox.</p>
    {% for version in track.version %}
        {% set _version_index = loop.index %}

        <h3>{{ version.desc.en }}</h3>
        {% for url in version.url %}
            <div onclick="play_video('{{ url.value }}', 'track-video-{{ _version_index }}-{{ loop.index }}')" id="track-video-{{ _version_index }}-{{ loop.index }}" class="track-video-div">
                <p><img src="/static/images/social/{{ url.platform.en }}.png" class="social-logo">{{ url.platform.en }} ({{ url.value }})</p>
            </div>
            <div id="track-video-{{ _version_index }}-{{ loop.index }}-container"></div>
        {% endfor %}
    {% endfor %}
    <h2>Usage Info</h2>
    <p>This section shows instances where the song has been referenced.</p>
    <h3>Backgrounds</h3>
    {{ output_usedby_background(track.used_by.data_background, "track-" + track.instance_id) }}
    <h3>Stories</h3>
    {{ output_usedby_story(track.used_by.data_story, track.uuid, "track") }}
    <h3>Battles</h3>
    {{ output_usedby_battle(track.used_by.data_battle) }}
    <h3>UIs</h3>
    {{ output_usedby_ui(track.used_by.data_ui) }}
    <h3>Videos</h3>
    {{ output_usedby_video(track.used_by.data_video, "track-" + track.instance_id) }}
    <h3>Characters</h3>
    <p>Note: The following list is sorted by mainly the reference count (the number showed below).</p>
    {{ output_usedby_character_dict(track.used_by.data_character, "track-" + track.instance_id) }}
{% endblock article_content %}