{% extends "template/en/base.html" %}
{% from 'template/en/_macro.html' import output_track_stat_badge_with_tags %}

{% block title %}{% if track.filetype == -12 %}All Tracks from {{ track.namespace.1 }}{% else %}All Track Types{% endif %}{% endblock title %}
{% block article_content %}
    <h1>{% if track.filetype == -12 %}All Tracks from {{ track.namespace.1 }}{% else %}All Track Types{% endif %}</h1>
    <p>This page lists all the {% if track.filetype == -12 %}tracks{% else %}track types{% endif %} available to view.</p>
    <ul>
        {% for i in track.include %}
            {% if 1 <= i.1.filetype <= 4 %}
                <li><a href="{{ i.1.no }}.html">{{ i.1.no }}. {{ i.1.name.realname.en }}</a> {{ output_track_stat_badge_with_tags(i.1.tags, i.1.stats) }}
                    {% if i.1.desc.en != "" %}<br/>{{ i.1.desc.en }}{% endif %}</li>
            {% else %}
                <li><a href="{{ i.1.namespace.1 }}/index.html">{{ i.1.name.en }}</a> {{ output_track_stat_badge_with_tags(i.1.tags, i.1.stats) }}
                    {% if i.1.desc.en != "" %}<br/>{{ i.1.desc.en }}{% endif %}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock article_content %}