{% extends "template/en/base.html" %}

{% block title %}UI/{{ ui.name.en }}{% endblock title %}
{% block article_content %}
    <h1>UI/{{ ui.name.en }}</h1>
    {% include "template/en/infobox/ui.html" %}
    {% from "template/en/_macro.html" import get_social_for_composer, generate_track_anchor %}
    {% from "template/en/_macro_page.html" import output_usedby_character %}

    <p><b>{{ ui.name.en }}</b> is a part of the UI (user interface) in Blue Archive.</p>
    <p>Description: {{ ui.desc.en }}</p>
    <h2 id="track">Used Track</h2>
    <p>Track: {{ generate_track_anchor(ui.track, 0, 0, 0, 0, 0) }}</p>
    <p>Composer: {{ ui.track.composer.nickname }} ({{ get_social_for_composer(ui.track.composer) }})</p>
    <h2>Characters (<i><a href="https://en.wikipedia.org/wiki/Yuru-chara">Yuru-chara</a></i>)</h2>
    {{ output_usedby_character({"character": ui.characters}, None, None, "story", False) }}
{% endblock %}