{% extends "template/en/base.html" %}
{% from 'template/en/_macro.html' import output_video_stat_badge %}

{% block title %}{{ video.name.en }}{% endblock title %}
{% block article_content %}
    <h1>{{ video.name.en }}</h1>
    <p>{{ video.desc.en }}</p>
    <ul>
        {% for i in video.include %}
            {% set i = i[1] %}
            <li><a href="/en/video/{{ i.namespace.1 }}.html">{{ i.name.en }}</a> {{ output_video_stat_badge(i.stats) }}
                <br />{{ i.desc.en }}
            </li>
        {% endfor %}
    </ul>
{% endblock article_content %}