<table id="infobox">
    <tr>
        <td colspan="2" class="infobox-title">{{ ui.name.zh_cn }}</td>
    </tr>
    <tr>
        <td colspan="2" class="infobox-icon"><img src="{{ ui.image.value }}" /></td>
    </tr>
    <tr><td colspan="2" class="infobox-subtitle">基本信息</td></tr>
    <tr>
        <td class="infobox-col-title">名称</td>
        <td class="infobox-col-value">{{ ui.name.zh_cn }}</td>
    </tr>
    <tr>
        <td class="infobox-col-title">简介</td>
        <td class="infobox-col-value">{{ ui.desc.zh_cn }}</td>
    </tr>
    <tr>
        <td class="infobox-col-title">曲目</td>
        <td class="infobox-col-value"><a href="/zh_cn/track/{{ ui.track.namespace.1 }}/{{ ui.track.namespace.2 }}.html">{{ ui.track.no }}. {{ ui.track.name.realname.zh_cn }} by {{ ui.track.composer.nickname }}</a></td>
    </tr>
</table>