{% extends "template/zh_cn/base.html" %}
{% block title %}关于本网站 {% endblock title %}

{% block article_content %}
    <h1>关于本网站</h1>
    <h2>网站本身</h2>
    <p>本网站为项目<a href="https://github.com/BA-OST-Index/">BA OST Index</a>的<a href="https://github.com/BA-OST-Index/ost_data_site">前端展示部分</a>。关于该项目的其他部分，还请造访项目主页。</p>
    <p>本网站是《蔚蓝档案》的同人网站，其中的信息均为<b>已经公开了的</b>信息。本网站上的内容不代表任何官方观点。</p>
    <p>本网站为非盈利站点。</p>
    <p>本站与<span lang="jp">ブルーアーカイブ</span>、Yostar、Nexon 以及 Nexon Games 没有任何形式关联。</p>

    <h2>文本及数据</h2>
    <p>本网站部分数据（学生介绍等）来自<a href="">SchaleDB</a>且<a href="https://github.com/lonqie/SchaleDB/issues/27">已确认可以使用</a>。</p>
    <p>本网站的部分数据为<a href="https://github.com/sctop">Sctop</a>自行总结、完善并加以翻译完成。此部分内容使用<a href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>进行授权。</p>
    <p>本网站中使用的所有游戏作品、信息和素材均为各自作者的财产和版权。</p>

    <h2>技术</h2>
    <p>本网站使用 <a href="https://python.org/">Python</a>及库<a href="https://jinja.palletsprojects.com/en/3.1.x/">Jinja</a>进行开发。</p>
    <p>本网站托管于<a href="https://pages.github.com/">GitHub Pages</a>上，使用<a href="https://www.cloudflare.com/">Cloudflare CDN</a>进行加速。</p>
    <p>本网站使用<a href="https://marketingplatform.google.com/about/analytics/">Google Analytics</a>对网站访问情况进行统计与监测。</p>
    <p>代码部分使用<a href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2.0协议</a>进行授权。文本版权及授权部分见上。</p>
{% endblock article_content %}