{% extends "template/zh_cn/base.html" %}
{% block title %}欢迎 {% endblock title %}

{% block article_content %}
    <h1>欢迎您，老师！</h1>
    <div id="homepage-flex">
        <div id="homepage-left">
            <div>
                <img src="/static/images/site/logo.png" style="height: 2em;">
                <b><span style="font-size: 1.5em; color: black;">音乐×故事×学生</span></b>
            </div>
            <p style="text-indent: 2em;">BA OST Index是一个致力于追踪手机游戏《蔚蓝档案》（又名《碧蓝档案》）的出处与使用例、建立音乐—故事—背景—人物四项主要数据间关联的小型数据库项目。藉由自动生成的索引数据，您可在多个数据项间进行跳转、互查、对比等操作，助您更加深入地了解游戏的相关音乐。</p>
            <hr style="margin-bottom: 1em;"/>
            <h4 style="margin-top: 0;">站内快捷链接</h4>
            <ul class="homepage-list">
                <li>主要故事 (<a href="/zh_cn/main/story/main/">主线</a>、<a href="/zh_cn/main/story/side/">支线</a>、<a href="/zh_cn/main/story/short/">短篇</a>、<a href="/zh_cn/main/story/other/">其它</a>)</li>
                <li>主要战斗 (<a href="/zh_cn/main/battle/main/">主线</a>、<a href="/zh_cn/main/battle/total_assault/">总力战</a>、<a href="/zh_cn/main/battle/">其它</a>)</li>
                <li>歌曲 (<a href="/zh_cn/track/ost/">OST</a>、<a href="/zh_cn/track/short/">短篇动画</a>、<a href="/zh_cn/track/other/">其它</a>)</li>
                <li>人物 (<a href="/zh_cn/character/npc/">NPC</a>、<a href="/zh_cn/character/student">学生</a>)</li>
                <li><a href="/zh_cn/background/">背景图片</a></li>
                <li><a href="/zh_cn/video/">视频</a></li>
                <li><a href="/zh_cn/tag/">标签</a></li>
                <li><a href="/zh_cn/ui/">UI（用户界面）</a></li>
            </ul>
        </div>
        <div id="homepage-right">
            <h4 style="margin-top: 2px;">主要特色</h4>
            <p>BA OST Index面向<b>全体BA玩家</b>开放。然而，如果您是想深入分析剧情者或为内容创作者，本项目网站所提供的数据与功能可能较其它网站更有帮助。本网站配备了以下特色功能：</p>
            <ol class="homepage-list">
                <li>Tooltip：在主要页面*中，PC端鼠标悬停在对应数据项链接上即可显示更多相关信息。</li>
                <li>故事情节高亮：对不同的故事情节，其标题会用不同颜色区分以高亮显示。</li>
                <li>快速直达故事：在各故事详细页中，可一键直达相关情节的视频/<a href="https://blue-archive.io">碧蓝档案剧情站</a>资源。</li>
                <li>跳转高亮：在主要页面*间互相跳转时，会高亮跳转来源的数据条目项。</li>
            </ol>
            <p><small>*主要页面：指音乐、故事、背景、人物四项数据的页面。</small></p>
        </div>
    </div>
    <div style="width: 100%; border: #727272 solid 1px; margin-top: 8px; padding: 5px; margin-right: 3em;">
        <h4 style="margin-top: 0">其他链接</h4>
        <ul class="homepage-list">
            <li>关于项目：<a href="https://github.com/BA-OST-Index">项目组织页</a>、<a href="https://github.com/BA-OST-Index/ost_data">原始数据</a>、<a href="https://github.com/BA-OST-Index/ost_data_parser">数据解析器</a>、<a href="https://github.com/BA-OST-Index/ost_site_generator">页面生成器</a>、<a href="https://github.com/BA-OST-Index/ost_site">网站代码仓库</a></li>
            <li>数据网站*：<a href="https://schale.gg/">SchaleDB</a> (<a href="https://schaledb.brightsu.cn/">国内镜像</a>)、<a href="https://kivo.wiki/">基沃托斯古书馆</a> (<a href="https://kivotos.ltd/">旧站</a>)、<a href="https://ba.gamekee.com/">GameKee</a>、<a href="https://bluearchive.wiki/">Blue Archive Wiki</a>、<a href="https://bluearchive.fandom.com/">Blue Archive Fandom Wiki</a></li>
        </ul>
        <p><small>*此处仅为列出玩家间常用的数据类网站以供查阅。除非注明，否则BA OST Index与列出的网站无任何关联。</small></p>
    </div>
{% endblock article_content %}