{% extends "template/zh_cn/base.html" %}
{% block title %}欢迎 {% endblock title %}

{% block article_content %}
    <h1>欢迎，老师！</h1>
    <p>这是 BA OST Index，一个由<a href="https://github.com/sctop">sctop</a>创建的项目，试图跟踪各个曲子与故事、战斗、背景、人物与UI之间的关系！</p>
    <br />
    <h2>本站支持的数据</h2>
    <ul>
        <li><a href="/zh_cn/background/">背景</a></li>
        <li><a href="/zh_cn/character/">人物</a></li>
        <li><a href="/zh_cn/event/">活动 (支持不完善)</a></li>
        <li><a href="/zh_cn/main/">主线任务/故事</a></li>
        <li><a href="/zh_cn/tag/">标签 (暂未使用)</a></li>
        <li><a href="/zh_cn/track/">歌曲</a></li>
        <li><a href="/zh_cn/ui/">UI</a></li>
        <li><a href="/zh_cn/video/">视频</a></li>
    </ul>
    <p>您也可通过使用网页左侧的导航栏进行导航。</p>
{% endblock article_content %}