{% extends "template/zh_cn/base.html" %}
{% from 'template/zh_cn/_macro.html' import auto_zhcn_gen %}

{% block title %}全部专辑{% endblock title %}
{% block article_content %}
    <h1>全部专辑</h1>
    <p>此页显示所有可用的专辑。</p>
    <ul>
        {% for i in album.include %}
            {% set i = i[1] %}
            <li><a href="/zh_cn/album/{{ i.album_id }}.html">{% if i.name.zh_cn != "" %}{{ auto_zhcn_gen(i.name) }}{% else %}{{ i.name.en }}{% endif %}</a>&nbsp;-&nbsp;{{ auto_zhcn_gen(i.desc) }}</li>
        {% endfor %}
    </ul>
{% endblock article_content %}