{% extends "template/zh_cn/base.html" %}
{% from "template/zh_cn/_macro.html" import auto_zhcn_text_only %}

{% block title %}任务/{% if battle.filetype == 21 %}{{ battle.chapter }}-{{ battle.no }} {% endif %}{{ auto_zhcn_text_only(battle.name) }}{% endblock title %}
{% block article_content %}
    {% from "template/zh_cn/_macro.html" import get_social_for_composer, auto_zhcn_gen, generate_track_anchor %}
    <h1>战斗/<span>{% if battle.filetype == 21 %}{{ battle.chapter }}-{{ battle.no }}&nbsp;{% endif %}{{ auto_zhcn_gen(battle.name) }}</span></h1>
    {% include "template/zh_cn/infobox/battle.html" %}

    {% if battle.filetype in [24, 28] %}
        <h2>BOSS信息</h2>
        <ul>
            <li>名称：{{ auto_zhcn_gen(battle.name) }} ({{ battle.name.jp }})</li>
            {% if battle.filetype == 24 %}
            <li>阵营：{{ auto_zhcn_gen(battle.faction) }} ({{ battle.faction.jp }})</li>
            <li>描述：{{ auto_zhcn_gen(battle.profile) }}</li>
            {% endif %}
        </ul>
    {% endif %}

    <h2 id="track">曲目信息</h2>
    <ul>
        {% if battle.track|is_list %}
            {% for i in battle.track %}
                <li>{{ generate_track_anchor(i, 0, 0, 0, 0, True) }}</li>
            {% endfor %}
        {% else %}
            <li>{{ generate_track_anchor(battle.track, 0, 0, 0, 0, True) }}</li>
        {% endif %}
    </ul>
{% endblock article_content %}