{% extends "template/zh_cn/base.html" %}
{% from 'template/zh_cn/_macro.html' import nothing_to_show %}

{% block title %}全部作曲人{% endblock title %}
{% block article_content %}
    <h1>全部作曲人</h1>
    <p>此页面列出所有作曲人。</p>
    <ul>
        {% for i in composer.include %}
            {% set tag = i.1 %}
            <li><a href="/zh_cn/composer/{{ i['namespace'][-1] }}.html">{{ i.no }}. {{ i.nickname }}</a></li>
        {% else %}
            <li>{{ nothing_to_show }}</li>
        {% endfor %}
    </ul>
{% endblock article_content %}