{% extends "template/zh_cn/base.html" %}
{% from 'template/zh_cn/_macro.html' import auto_zhcn_gen, nothing_to_show, auto_zhcn_text_only %}

{% block title %}活动/{{ auto_zhcn_text_only(event.name) }}{% endblock title %}
{% block article_content %}
    <h1>活动/{{ auto_zhcn_gen(event.name) }}</h1>
    <p><b><i>{{ auto_zhcn_gen(event.desc) }}</i></b></p>
    <ul>
        {% for i in event.include %}
            <li><a href="{{ i.0 }}/">{{ auto_zhcn_gen(i.1.name) }} (ID: {{ i.0 }})</a></li>
        {% else %}
            <li>{{ nothing_to_show }}</li>
        {% endfor %}
    </ul>
{% endblock %}