{% extends "template/zh_cn/base.html" %}

{% block title %}NPC/{{ char.name.zh_cn_jp }}{% endblock title %}
{% block article_content %}
    {% from "template/zh_cn/_macro_page.html" import output_usedby_story, output_usedby_track, output_relatedto_character, output_usedby_background, output_usedby_character_dict %}
    {% from 'template/zh_cn/_macro.html' import auto_zhcn_gen %}

    <h1>NPC/{{ auto_zhcn_gen(char.name) }}</h1>
    {% include "template/zh_cn/infobox/npc.html" %}

    <p><b>{{ auto_zhcn_gen(char.name) }} <span lang="jp">({{ char.name.jp }})</span> 是一名在游戏里的NPC。</b></p>

    <h2>简介</h2>
    <p>{{ auto_zhcn_gen(char.desc) }}</p>

    <h2>使用详情</h2>
    <h3>背景</h3>
    <h4>故事内背景</h4>
    {{ output_usedby_background(char.used_by.data_background, char.namespace[-1], char.namespace[-1], "character", True) }}
    <h4>直接背景</h4>
    <p>以下背景中均有此人物直接出现。</p>
    {{ output_usedby_background(char.used_by.data_background_direct, char.namespace[-1] + "-direct", char.namespace[-1], "character", True) }}
    <h4>间接出现背景</h4>
    <p>以下背景中，人物虽与背景一同出现，但并非在背景所在场景中（如，通过通讯接入时）。</p>
    {{ output_usedby_background(char.used_by.data_background_by_comm, char.namespace[-1], char.namespace[-1], "character", True) }}
    <h3>故事</h3>
    {{ output_usedby_story(char.used_by.data_story, char.uuid, "character") }}
    <h3>曲目</h3>
    {{ output_usedby_track(char.used_by.data_track, 1, char.uuid, char.namespace[-1], "character") }}
    <h3>一同出现的人物</h3>
    <p>以下均为与该人物一起出现过的人物。</p>
    {{ output_usedby_character_dict(char.used_by.data_character, char.uuid + "-direct", char.uuid, "character", True)  }}

    <h2>相关人物</h2>
    {{ output_relatedto_character({"character": char.related_to.character_other}, "True") }}
{% endblock %}