{% extends "template/zh_cn/base.html" %}

{% block title %}故事/{{ story.name.zh_cn_jp }}{% endblock title %}
{% block article_content %}
    {% from "template/zh_cn/_macro.html" import get_ordinal_number, output_usedby_character, output_usedby_track_list, output_usedby_background_list, auto_zhcn_gen, nothing_to_show %}

    <h1>故事/{{ auto_zhcn_gen(story.name) }}</h1>
    {% include "template/zh_cn/infobox/story.html" %}
    {% if story.filetype == 11 %}
        <p>“<b>{{ auto_zhcn_gen(story.name) }}</b>”是主线故事第{{ story.pos.volume }}篇第{{ story.pos.chapter }}章的第{{ story.pos.segment }}个故事。</p>
    {% elif story.filetype == 15 %}
        <p>“<b>{{ auto_zhcn_gen(story.name) }}</b>”是学生<img src="/static/images/student/icon/{{ story.student.image.collection_texture }}.png" class="icon-stu"/>{{ auto_zhcn_gen(story.student.name.personal_name) }}的第{{ story.pos.no }}个羁绊故事。</p>
    {% elif story.filetype == 14 %}
        <p>“<b>{{ auto_zhcn_gen(story.name) }}</b>”是活动“{{ auto_zhcn_gen(story.parent_data.0.name) }}” 的第{{ story.pos.segment }}个故事。</p>
    {% else %}
        <p>“<b>{{ auto_zhcn_gen(story.name) }}</b>”是故事“{{ story.parent_data.1.name.zh_cn }}”第{{ story.pos.chapter }}章 的第{{ story.pos.no }}个故事。</p>
    {% endif %}
    <p>简介：</p>
    <ul>
        {% for desc in story.desc %}
            <li>{{ auto_zhcn_gen(desc) }}</li>
        {% endfor %}
    </ul>

    <h2>战斗/羁绊曲目信息</h2>
    {% if story.is_battle or story.is_memory %}
        <ul>
            {% for track in story.bgm_special %}
                <li><a href="/zh_cn/track/{{ track.namespace.1 }}/{{ track.namespace.2 }}.html">{{ track.name.realname.zh_cn }} ({{ track.name.realname.en }})</a> (No. {{ track.no }})</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>此故事无战斗/羁绊剧情部分，因而这里没有相关曲目信息。</p>
    {% endif %}
    <h2>故事部分</h2>
    {% for part in story.part %}
        {% if part.is_memory %}<h3 class="text-momo"{% elif part.is_battle %}<h3 class="text-danger"{% else %}<h3 class="text-primary"{% endif %} id="story-part-{{ loop.index }}">{{ auto_zhcn_gen(part.name) }}</h3>
        <p>描述：{{ auto_zhcn_gen(part.desc) }}</p>
        <h4>人物</h4>
        {{ output_usedby_character(part, "story-" + story.instance_id) }}
        <h4>曲目</h4>
        {{ output_usedby_track_list(part.track, "story-" + story.instance_id) }}
        <h4>背景</h4>
        {{ output_usedby_background_list(part.background, "story-" + story.instance_id) }}
    {% else %}
        <p>{{ nothing_to_show }}</p>
    {% endfor %}
{% endblock %}