{% extends "template/zh_cn/base.html" %}

{% block title %}故事/{{ story.name.zh_cn_jp }}{% endblock title %}
{% block article_content %}
    {% from "template/base/_macro.html" import get_story_text_color_css, get_storypart_text_color_css %}
    {% from "template/zh_cn/_macro_page.html" import output_usedby_character, output_usedby_track_list, output_usedby_background_list %}
    {% from "template/zh_cn/_macro.html" import auto_zhcn_gen, nothing_to_show, filetype_to_name, generate_track_anchor %}

    <h1>故事/<span class="{{ get_story_text_color_css(story) }}">{{ auto_zhcn_gen(story.name) }}</span></h1>
    {% include "template/zh_cn/infobox/story.html" %}
    {% if story.filetype == 11 %}
        <p>“<b>{{ auto_zhcn_gen(story.name) }}</b>”是主线故事第{{ story.pos.volume }}篇第{{ story.pos.chapter }}章的第{{ story.pos.segment }}个故事。</p>
    {% elif story.filetype == 15 %}
        <p>“<b>{{ auto_zhcn_gen(story.name) }}</b>”是学生<img src="/static/images/student/icon/{{ story.student.image.collection_texture }}.webp" class="icon-stu"/>{{ auto_zhcn_gen(story.student.name.personal_name) }}的第{{ story.pos.no }}个羁绊故事。</p>
    {% elif story.filetype == 14 %}
        <p>“<b>{{ auto_zhcn_gen(story.name) }}</b>”是活动“{{ auto_zhcn_gen(story.parent_data.0.name) }}” 的第{{ story.pos.segment }}个故事。</p>
    {% else %}
        <p>“<b>{{ auto_zhcn_gen(story.name) }}</b>”是故事“{{ story.parent_data.1.name.zh_cn }}”第{{ story.pos.chapter }}章 的第{{ story.pos.no }}个故事。</p>
    {% endif %}
    <p>简介：</p>
    <ul>
        {% for desc in story.desc %}
            <li>{{ auto_zhcn_gen(desc) }}</li>
        {% endfor %}
    </ul>

    <h2>战斗/羁绊曲目信息</h2>
    {% if story.is_battle or story.is_memory %}
        <ul>
            {% for track in story.bgm_special %}
                <li>{{ generate_track_anchor(track, 0, 0, 0, 0, 1) }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>此故事无战斗/羁绊剧情部分，因而这里没有相关曲目信息。</p>
    {% endif %}

    <h2>故事部分</h2>
    {% for part in story.part %}
        {% set part_index = loop.index %}
        <h3 class="{{ get_storypart_text_color_css(part) }}" id="story-part-{{ loop.index }}">{{ loop.index }}. {{ auto_zhcn_gen(part.name) }}</h3>

        {% for segment in part.data %}
            <ul style="margin: 0;">
                <li id="story-part-{{ part_index }}-seg-{{ loop.index }}">{{ auto_zhcn_gen(segment.desc) }}</li>
                <h4>人物</h4>
                {% if part.is_battle %}
                    {{ output_usedby_character(segment, "story-" + story.instance_id, story.instance_id, "story", "True", part.battle_leader_pos) }}
                {% else %}
                    {{ output_usedby_character(segment, "story-" + story.instance_id, story.instance_id, "story") }}
                {% endif %}
                <h4>歌曲</h4>
                {{ output_usedby_track_list(segment.track, "story-" + story.instance_id, "story", story.instance_id) }}
                <h4>背景</h4>
                {{ output_usedby_background_list(segment.background, "story-" + story.instance_id, story.instance_id, "story") }}
            </ul>
        {% endfor %}
    {% else %}
        <p>{{ nothing_to_show }}</p>
    {% endfor %}
{% endblock %}