{% extends "template/zh_cn/base.html" %}
{% from 'template/zh_cn/_macro.html' import auto_zhcn_gen %}

{% block title %}{{ story.name.zh_cn_jp }}的全部故事{% endblock title %}
{% block article_content %}
    <h1>{{ auto_zhcn_gen(story.name) }}的全部故事</h1>
    {% if 'image' in story and story.image.value != "" %}
        <img src="{{ story.image.value }}" id="all-story-image">
    {% endif %}
    <p>{{ auto_zhcn_gen(story.desc) }}</p>
    <ul>
        {% for i in story.include %}
            {% set i = i.1 %}
            {% if story.filetype == -22 %}
                <li><a href="{{ i.namespace[-1] }}">{{ auto_zhcn_gen(i.name) }}</a></li>
            {% elif story.filetype == -23 %}
                <li><a href="{{ i.namespace[-1] }}">第{{ i.namespace[-1] }}篇：{{ auto_zhcn_gen(i.name) }}</a><br/>{{ auto_zhcn_gen(i.desc) }}</li>
            {% elif story.filetype == -24 %}
                <li><a href="{{ i.namespace[-1] }}">第{{ i.namespace[-1] }}章：{{ auto_zhcn_gen(i.name) }}</a><br/>{{ auto_zhcn_gen(i.desc) }}</li>
            {% elif story.filetype == -25 %}
                <li>
                    <a href="{{ i.pos.segment }}.html" class="{% if i.is_battle %}text-danger{% elif i.is_memory %}text-momo{% endif %}">第{{ i.pos.segment }}话：{{ auto_zhcn_gen(i.name) }}</a>
                </li>
            {% elif story.filetype == -54 %}
                <li><a href="{{ i.pos.segment }}.html">第{{ i.pos.segment }}话故事: {{ auto_zhcn_gen(i.name) }}</a></li>
            {% else %}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}