{% extends "template/zh_cn/base.html" %}
{% from "template/zh_cn/_macro.html" import replace_newline_for_p %}
{% from 'template/zh_cn/_macro_page.html' import output_usedby_story, output_usedby_track, output_relatedto_character, output_usedby_background, output_usedby_character_dict %}
{% from "template/zh_cn/_macro.html" import auto_zhcn_gen, nothing_to_show, generate_track_anchor %}

{% block title %}学生/{{ char.student.name.name.zh_cn_jp }}{% endblock title %}
{% block article_content %}
    <h1>学生/{{ auto_zhcn_gen(char.student.name.name) }}</h1>
    {% include "template/zh_cn/infobox/student.html" %}
    {% set student = char.student %}
    <div id="char_intro">
        <svg xmlns="http://www.w3.org/2000/svg" height="2.5em" viewBox="0 0 448 512"><path d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"></path></svg>
        <div id="char_intro_text">
            <!-- Manual Implementation of `multi_zhcn_gen` with `replace_newline_for_p` -->
            <p class="lang-zh-cn-cn-block">{{ replace_newline_for_p(student.profile.profile.zh_cn_cn, "lang-zh-cn-cn-block") }}</p><span class="lang-zh-cn-splitter">(zh_cn_cn)&nbsp;/&nbsp;</span><p class="lang-zh-cn-tw-block">{{ replace_newline_for_p(student.profile.profile.zh_cn_tw, "lang-zh-cn-tw-block") }}</p><span class="lang-zh-cn-splitter">(zh_cn_tw)&nbsp;/&nbsp;</span><p class="lang-zh-cn-jp-block">{{ replace_newline_for_p(student.profile.profile.zh_cn_jp, "lang-zh-cn-jp-block") }}</p><span class="lang-zh-cn-splitter">(zh_cn_jp)&nbsp;</span>
            {% if student.profile.gacha.zh_cn_cn != "None" %}
                <br class="lang-zh-cn-cn-block-br" />
                <b><p class="lang-zh-cn-cn-block">{{ replace_newline_for_p(student.profile.gacha.zh_cn_cn, "lang-zh-cn-cn-block") }}</p></b>
            {% endif %}
            {% if student.profile.gacha.zh_cn_tw != "None" %}
                <br class="lang-zh-cn-tw-block-br"/>
                <b><p class="lang-zh-cn-tw-block">{{ replace_newline_for_p(student.profile.gacha.zh_cn_tw, "lang-zh-cn-tw-block") }}</p></b>
            {% endif %}
            {% if student.profile.gacha.zh_cn_jp != "None" %}
                <br class="lang-zh-cn-jp-block-br"/>
                <b><p class="lang-zh-cn-jp-block">{{ replace_newline_for_p(student.profile.gacha.zh_cn_jp, "lang-zh-cn-jp-block") }}</p></b>
            {% endif %}
        </div>
    </div>
    <p><b>{{ auto_zhcn_gen(student.name.family_name) }} {{ auto_zhcn_gen(student.name.personal_name) }}</b> <span lang="jp">(JP: {{ student.name.family_name.jp }} {{ student.name.personal_name.jp }})</span> 是一位{{ auto_zhcn_gen(student.age) }}的学生，来自{{ auto_zhcn_gen(student.school.long) }}的社团{{ auto_zhcn_gen(student.club) }}。她的爱好有{{ auto_zhcn_gen(student.hobby) }}。</p>
    <h2>羁绊剧情故事</h2>
    {% set bond = char.include.0.1.include %}
    {% for i in bond %}
        {% set value = i.1 %}
        <h3><a {% if i.is_memory %}class="text-momo"{% endif %} href="bond/{{ value.pos.no }}.html">{{ value.pos.no }}. {{ auto_zhcn_gen(value.name) }}</a></h3>
        {% if value.is_memory %}
            {% set track = value.bgm_special[0] %}
            <big><p>可在该故事中收集到回忆大厅。大厅BGM：{{ generate_track_anchor(track, 0, 0, 0, 0, 0) }}</p></big>
        {% endif %}
    {% else %}
        <p>{{ nothing_to_show }}</p>
    {% endfor %}

    <h2>其它故事</h2>
    {{ output_usedby_story(char.student.used_by.data_story, char.student.uuid, "character") }}
    <h2>曲目</h2>
    {{ output_usedby_track(char.student.used_by.data_track, 1, char.student.uuid, char.student.uuid, "character") }}
    <h2>背景</h2>
    <h3>直接背景</h3>
    <p>以下背景中均有此人物直接出现。</p>
    {{ output_usedby_background(char.student.used_by.data_background_direct, char.student.uuid + "-direct", char.student.uuid, "character", True) }}
    <h3>其它背景</h3>
    {{ output_usedby_background(char.student.used_by.data_background, char.student.uuid, char.student.uuid, "character", True) }}

    <h2>相关人物</h2>
    <h3>其它版本</h3>
    {{ output_relatedto_character({"character": char.student.related_to.character_variant}, "True") }}
    <h3>其它人物</h3>
    {{ output_relatedto_character({"character": char.student.related_to.character_other}, "True") }}
    <h3>在故事中途</h3>
    <p>以下均为与该人物一起出现过的人物。</p>
    {{ output_usedby_character_dict(char.student.used_by.data_character, char.student.uuid + "-direct", char.student.uuid, "character", True)  }}
{% endblock %}