{% extends "template/zh_cn/base.html" %}
{% from 'template/zh_cn/_macro_page.html' import output_usedby_track_list, output_usedby_background_list %}

{% block title %}标签/{{ tag.name.zh_cn }}{% endblock title %}
{% block article_content %}
    <h1>标签/{{ tag.name.zh_cn }}</h1>
    <p>此页用于显示标签“{{ tag.name.zh_cn }}”的相关信息。</p>
    <p>描述：{{ tag.desc.zh_cn }}</p>
    {% include "template/zh_cn/infobox/tag.html" %}
    <h2>使用情况</h2>
    <h3>曲目</h3>
    {{ output_usedby_track_list(tag.used_by.data_track, "", "tag") }}
    <h3>背景</h3>
    {{ output_usedby_background_list(tag.used_by.data_background, "", "story") }}
{% endblock %}