{% extends "template/zh_cn/base.html" %}

{% block title %}曲子/{{ track.no }}. {{ track.name.realname.en }} ({{ track.name.realname.zh_cn }}){% endblock title %}
{% block other_head %}
    <script src="{{ get_static('js/track_player.js') }}"></script>
{% endblock other_head %}
{% block article_content %}
    {% from "template/zh_cn/_macro_page.html" import output_usedby_background, output_usedby_story, output_usedby_battle, output_usedby_ui, output_usedby_video, output_usedby_character_dict, track_version_video_player, output_track_album %}
    {% from "template/zh_cn/_macro.html" import tracktype_to_name, generate_album_anchor, generate_track_anchor, nothing_to_show %}

    <h1>曲子/{{ track.no }}. {{ track.name.realname.en }} {% if track.name.realname.zh_cn %}({{ track.name.realname.zh_cn }}){% endif %}</h1>
    {% include "template/zh_cn/infobox/track.html" %}
    <p><b>{{ track.name.realname.en }}</b> {% if track.name.realname.zh_cn %}(<b>{{ track.name.realname.zh_cn }}</b>){% endif %} 是{{ tracktype_to_name(track.track_type) }}中的第{{ track.no }}首曲子。</p>
    <p>{{ track.desc.zh_cn }}</p>

    <h2>名称翻译</h2>
    <h3>原始名称</h3>
    <ul>
        <li>English: {{ track.name.realname.en }}</li>
        <li>中文简体：{{ track.name.realname.zh_cn }}</li>
        <li>中文繁體：{{ track.name.realname.zh_tw }}</li>
    </ul>
    <h3>其他名称</h3>
    <ul>
        {% for i in track.name.known_as %}
            <li>{{ i.en }} / {{ i.zh_cn }} / {{ i.zh_tw }}</li>
        {% else %}
            <li>{{ nothing_to_show }}</li>
        {% endfor %}
    </ul>

    <h2>曲子与专辑</h2>
    <p>此曲子已被收录至以下专辑。</p>
    {{ output_track_album(track.album, track) }}

    <h2>在线播放音乐</h2>
    <p>提示：为避免潜在版权侵犯风险，我们此处使用<b>第三方嵌入式网页播放器</b>来提供服务。你也可以在信息栏（infobox）中手动访问它们。</p>
    <p>单击下列链接时，您也同时同意各平台/服务提供商的对应服务条款。</p>
    {{ track_version_video_player(track.version) }}

    <h2>使用信息</h2>
    <p>此处显示引用了这首曲子的实例。</p>
    <h3>相关曲子</h3>
    <ul>
        {% for i in track.related_to.track_other %}<li>{{ generate_track_anchor(i, 0, 0, 0, 0, 1) }}</li>{% else %}<li>无曲子！</li>{% endfor %}
    </ul>
    <h3>背景</h3>
    {{ output_usedby_background(track.used_by.data_background, "track-" + track.instance_id, track.instance_id, "track") }}
    <h3>故事</h3>
    {{ output_usedby_story(track.used_by.data_story, track.uuid, "track") }}
    <h3>战斗</h3>
    {{ output_usedby_battle(track.used_by.data_battle) }}
    <h3>UI</h3>
    {{ output_usedby_ui(track.used_by.data_ui) }}
    <h3>视频</h3>
    {{ output_usedby_video(track.used_by.data_video, "track-" + track.instance_id) }}
    <h3>人物角色</h3>
    <p>注意：以下列表主要基于引用次数（见下表的数字）进行排序。</p>
    {{ output_usedby_character_dict(track.used_by.data_character, "track-" + track.instance_id, track.instance_id, "track") }}
{% endblock article_content %}