{% extends "template/zh_cn/base.html" %}

{% block title %}UI/{{ ui.name.zh_cn }}{% endblock title %}
{% block article_content %}
    <h1>UI/{{ ui.name.zh_cn }}</h1>
    {% include "template/zh_cn/infobox/ui.html" %}
    <p><b>{{ ui.name.zh_cn }}</b> 为蔚蓝档案UI（用户界面）中的一部分。</p>
    <p>描述：{{ ui.desc.zh_cn }}</p>
    <h2 id="track">使用的曲子</h2>
    <p>曲子：<a href="/zh_cn/{{ ui.track.namespace|join('/') }}.html#{{ ui.uuid }}">{{ ui.track.no }}. {{ ui.track.name.realname.en }} ({{ ui.track.name.realname.en }})</a> </p>
    <p>作曲者：{{ ui.track.composer.nickname }} (<a href="{{ ui.track.composer.contact.url.value }}"><img src="/static/images/social/{{ ui.track.composer.contact.platform.en }}.png" class="social-logo">{{ ui.track.composer.contact.url.platform.zh_cn }}: {{ ui.track.composer.nickname }}</a>)</p>
{% endblock %}