{% from 'template/base/_macro.html' import anchor_new_tab, get_storypart_text_color_css, get_stu_type_text_color_css, generate_tooltip_anchor, generate_popup_for_tooltip_anchor, generate_tag_badge %}
{% set curr_lang = "zh_cn" %}
{% set nothing_to_show = "无内容可显示！" %}

{# ------------------------------------------------------------------- #}
{# ------------------------------- 通用函数 --------------------------- #}
{# ------------------------------------------------------------------- #}
{% macro multi_zhcn_gen(data) %}<span class="lang-zh-cn-cn">{{ data.zh_cn_cn|js_string_safe }}</span><span class="lang-zh-cn-splitter">(zh_cn_cn)&nbsp;/&nbsp;</span><span class="lang-zh-cn-tw">{{ data.zh_cn_tw|js_string_safe }}</span><span class="lang-zh-cn-splitter">(zh_cn_tw)&nbsp;/&nbsp;</span><span class="lang-zh-cn-jp">{{ data.zh_cn_jp|js_string_safe }}</span><span class="lang-zh-cn-splitter">(zh_cn_jp)&nbsp;</span>{% endmacro %}
{%- macro auto_zhcn_gen(data) -%}{%- if "zh_cn" in data -%}{{ data.zh_cn|js_string_safe }}{%- else -%}{{ multi_zhcn_gen(data) }}{%- endif -%}{%- endmacro -%}
{% macro replace_newline_for_p(text, class_name) %}{{ text|replace("\n\n", '</p><br class="' + class_name + '-br"/><p class="' + class_name + '">')|replace("\n", '</p><p class="' + class_name + '">') }}{% endmacro %}


{% macro extract_storypart_all_desc(data) %}{% for i in data %}{{ auto_zhcn_gen(i.desc) }}{% endfor %}{% endmacro %}

{# 代为调用 template_en 全局里的函数 #}
{% macro tracktype_to_name(track_type) %}{{ template_zhcn.tracktype_to_name(track_type) }}{% endmacro %}
{% macro filetype_to_name(ft) %}{{ template_zhcn.filetype_to_name(ft) }}{% endmacro %}
{% macro generate_story_url(story) %}{{ py_generate_story_url(curr_lang, story) }}{% endmacro %}

{# 通用的Story名称生成 #}
{% macro generate_story_name(story) %}{% set ft = story.filetype %}{% if ft == 15 %}<span><img src="{{ get_static('images/student/icon/' + story.student.image.collection_texture + '.webp') }}" class="icon-stu">{{ auto_zhcn_gen(story.student.name.personal_name) }}的第{{ story.pos.no }}个羁绊故事：{{ auto_zhcn_gen(story.name) }}</span>{% elif ft == 14 %}<span>活动{{ auto_zhcn_gen(story.parent_data.0.name) }}&nbsp;第{{ story.pos.segment }}个故事：{{ auto_zhcn_gen(story.name) }}</span>{% else %}{{ filetype_to_name(ft) }}故事&nbsp;第{{ story.pos.volume }}篇&nbsp;第{{ story.pos.chapter }}章&nbsp;第{{ story.pos.segment }}话：{{ auto_zhcn_gen(story.name) }}{% endif %}{% endmacro %}

{# 通用的UI <a>生成 #}
{% macro generate_ui_anchor(ui) %}
    {% if ui.filetype == 32 %}
        {% set url %}/{{ curr_lang }}/event/{{ ui.event_id }}/ui/{{ ui.id }}.html#track{% endset %}
    {% else %}
        {% set url %}/{{ curr_lang }}/ui/{{ ui.namespace.1 }}.html#track{% endset %}
    {% endif %}
    <span><a href="{{ url }}" target="_blank">{{ auto_zhcn_gen(ui.name) }}</a>&nbsp;-&nbsp;{{ auto_zhcn_gen(ui.desc) }}</span>
{% endmacro %}

{# 通用的Track <a>生成 #}
{% macro generate_track_anchor(track, with_counter, count_num, html_id, tooltip_id, enable_author) %}
    <a href="/{{ curr_lang }}/track/{{ track.namespace.1 }}/{{ track.namespace.2 }}.html{% if arg_check(html_id) %}#{{ html_id }}{% endif %}" {% if arg_check(tooltip_id) %}{{ generate_tooltip_anchor(tooltip_id) }}{% endif %}>
        <span>{% if arg_check(with_counter) %}【{{ count_num }}】{% endif %}{{ filetype_to_name(track.filetype) }}&nbsp;{{ track.no }}.&nbsp;{{ track.name.realname.en|js_string_safe }} {% if track.name.realname.zh_cn != "" %}({{ track.name.realname.zh_cn }}){% endif %}</span>
    </a>
    {% if arg_check(tooltip_id) %}{{ generate_popup_for_tooltip_anchor(tooltip_id) }}{% endif %}
    {% if arg_check(enable_author) %}<span>&nbsp;by&nbsp;{{ track.composer.nickname }}</span>{% endif %}
{% endmacro %}

{# 通用的Background <a>生成 #}
{% macro generate_background_anchor(bg, html_id, tooltip_id, bg_count, disable_div_id) %}
    <div {% if not disable_div_id %}id="{{ bg.uuid }}"{% endif %}>
        <img src="{{ bg.image.value }}" {% if arg_check(tooltip_id) %}onmouseover="showTooltipGallerySmall(this)" data-tooltip="{{ tooltip_id }}"{% endif %}>
        <p class="gallery-caption">{% if arg_check(bg_count) %}<span>【{{ bg_count }}】</span>{% endif %}<span><a href="/{{ curr_lang }}/background/{{ bg.filename }}.html{% if arg_check(html_id) %}#{{ html_id }}{% endif %}" {% if arg_check(tooltip_id) %}{{ generate_tooltip_anchor(tooltip_id) }}{% endif %} target="_blank">{{ bg.filename|js_string_safe }}</a>{% if arg_check(tooltip_id) %}{{ generate_popup_for_tooltip_anchor(tooltip_id) }}{% endif %}</span></p>
    </div>
{% endmacro %}

{# 通用的Character <a>生成 #}
{% macro generate_character_anchor(char, with_school, with_club, html_id, tooltip_id, show_combatant_info, is_leader, new_tab) %}
    {% if char.filetype == 52 %}
        <a href="/{{ curr_lang }}/character/npc/{{ char.namespace[-1]|lower }}/{% if arg_check(html_id) %}#{{ html_id }}{% endif %}" {% if arg_check(tooltip_id) %}{{ generate_tooltip_anchor(tooltip_id) }}{% endif %} {{ anchor_new_tab(new_tab) }}>
            <span>{{ auto_zhcn_gen(char.name) }}</span>
        </a>
        {% if arg_check(tooltip_id) %}{{ generate_popup_for_tooltip_anchor(tooltip_id) }}{% endif %}
    {% else %}
        {% if arg_check(show_combatant_info) %}
            {% if arg_check(is_leader) %}<img src="{{ get_static('images/ui/Image_Conquest_Leader.png') }}" class="story-battle-leader">{% endif %}
            <span><b class="{{ get_stu_type_text_color_css(char.combatant_info.squad_type.type) }}">{{ auto_zhcn_gen(char.combatant_info.squad_type.lang) }}</b>&nbsp;&#124;</span>
        {% endif %}
        {% if arg_check(with_school) %}
            <img src="{{ get_static('images/schoolicon/School_Icon_' + char.school_id|upper + '_W.png') }}" class="invert-light schoolicon-p">
        {% endif %}
        <span>
            <a href="/{{ curr_lang }}/character/student/{{ char.name.path_name|lower }}/{% if arg_check(html_id) %}#{{ html_id }}{% endif %}" {% if arg_check(tooltip_id) %}{{ generate_tooltip_anchor(tooltip_id) }}{% endif %} {{ anchor_new_tab(new_tab) }}>
                <img src="{{ get_static('images/student/icon/' + char.image.collection_texture + '.webp') }}" class="icon-stu">
                <span>{{ auto_zhcn_gen(char.name.name) }}</span>
            </a>
        </span>
        {% if arg_check(tooltip_id) %}{{ generate_popup_for_tooltip_anchor(tooltip_id) }}{% endif %}
        {% if arg_check(show_combatant_info) %}
            <span>&nbsp;
                <span class="{{ get_stu_type_text_color_css(char.combatant_info.attack_type.type) }}">{{ auto_zhcn_gen(char.combatant_info.attack_type.lang) }}</span>&nbsp;/&nbsp;<span class="{{ get_stu_type_text_color_css(char.combatant_info.armor_type.type) }}">{{ auto_zhcn_gen(char.combatant_info.armor_type.lang) }}</span>
            </span>
        {% else %}
            {% if arg_check(with_club) %}
                <span>&nbsp;[{{ auto_zhcn_gen(char.club) }}]</span>
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

{# 通用的Story <a>生成 #}
{% macro generate_story_anchor(story, tooltip_id, new_tab) %}
    {% set value = story %}
    {% set target_url = generate_story_url(story) %}

    {% if value.filetype == 15 %}
        <a href="{{ target_url }}" {{ anchor_new_tab(new_tab) }} {% if arg_check(tooltip_id) %}{{ generate_tooltip_anchor(tooltip_id) }}{% endif %}>{{ generate_story_name(story) }}</a>
    {% elif value.filetype == 14 %}
        <a href="{{ target_url }}" {{ anchor_new_tab(new_tab) }} {% if arg_check(tooltip_id) %}{{ generate_tooltip_anchor(tooltip_id) }}{% endif %}>{{ generate_story_name(story) }}</a>
    {% else %}
        <a href="{{ target_url }}" {{ anchor_new_tab(new_tab) }} {% if arg_check(tooltip_id) %}{{ generate_tooltip_anchor(tooltip_id) }}{% endif %}>{{ generate_story_name(story) }}</a>
    {% endif %}
    {% if arg_check(tooltip_id) %}{{ generate_popup_for_tooltip_anchor(tooltip_id) }}{% endif %}
{% endmacro %}

{# 通用的Album <a>生成 #}
{% macro generate_album_anchor(album, new_tab, html_id) %}
    <span><a href="/{{ curr_lang }}/album/{{ album.album_id }}.html{% if arg_check(html_id) %}#{{ html_id }}{% endif %}" {{ anchor_new_tab(new_tab) }}>{{ auto_zhcn_gen(album.name) }}&nbsp;({{ album.track_num }} discs)&nbsp;&#91;{{ album.release_date_format }}&#93;</a></span>
{% endmacro %}

{% macro get_social_for_composer(composer) %}
    <a href="{{ composer.contact.url.value }}" target="_blank"><img src="{{ get_static('images/social/' + composer.contact.platform.en + '.png') }}" class="social-logo">{{ auto_zhcn_gen(composer.contact.url.platform) }}: {{ composer.nickname }}</a>
{% endmacro %}

{# 生成story parts “出现于”(appearedAt) HTML代码 #}
{% macro generate_appearedat_html(base_story, parts) %}
    {% for i in parts %}
        {% set part = i.0 %}
        {% set loop_index = i.1 %}
        {% set seg_index = i.2 %}
        {% set tooltip_id = i.3 %}
        {% set ele_class = get_storypart_text_color_css(part) %}

        {% if loop.index == 1 %}
        <span>(出现于&nbsp;</span>
        {% else %}
        <span>,&nbsp;</span>
        {% endif %}

        <span><a href="{{ generate_story_url(base_story) }}#story-part-{{ loop_index }}{% if seg_index != -1 %}-seg-{{ seg_index }}{% endif %}" class="{{ ele_class }}" {% if arg_check(tooltip_id) %}{{ generate_tooltip_anchor(tooltip_id) }}{% endif %}><i>&#91;{{ loop_index }}&#93;&nbsp;{{ auto_zhcn_gen(part.name) }}</i></a>{% if arg_check(tooltip_id) %}{{ generate_popup_for_tooltip_anchor(tooltip_id) }}{% endif %}</span>
    {% endfor %}
    <span>)</span>
{% endmacro %}

{# 通用的Tag <a>生成 #}
{% macro generate_tag_span(tag) %}{{ generate_tag_badge(tag.color_css, tag.name.zh_cn) }}{% endmacro %}

{% macro tag_altogether(tags, instance_id) %}
    {% for tag in tags %}<a href="/{{ curr_lang }}/tag/{{ tag.namespace[-1] }}.html{% if instance_id %}#{{ instance_id }}{% endif %}" target="_blank">{{ generate_tag_span(tag) }}</a>&nbsp;{% endfor %}
{% endmacro %}

{# 平铺人物<a>生成 #}
{% macro generate_character_anchor_flat(characters, max_char) %}
    {% if not arg_check(max_char) %}{% set max_char = 99999 %}{% endif %}

    {% if characters|length != 0 %}
        {% set char_for_show = [] %}
        {% for i in characters %}
            {% if loop.index == max_char %}{% break %}
            {% else %}{% do char_for_show.append(i) %}
            {% endif %}
        {% endfor %}

        {% for char in char_for_show[:-1] %}<span>{{ generate_character_anchor(char, 0, 0, 0, 0, 0, 0, 0) }}&nbsp;|&nbsp;</span>{% endfor %}
        {{ generate_character_anchor(char_for_show[-1], 0, 0, 0, 0, 0, 0, 0) }}
        {% if characters|length > char_for_show|length %}<span>&nbsp;及更多人。</span>{% endif %}
    {% endif %}
{% endmacro %}

{# 视频标签生成 #}
{% macro output_video_stat_badge(stat) %}
    <div class="video-stats-badge stats-badge">
    {% if stat.is_jp %}{{ generate_tag_badge("primary", "日服") }}{% endif %}
    {% if stat.is_global %}{{ generate_tag_badge("primary", "国际服") }}{% endif %}
    {% if stat.is_cn %}{{ generate_tag_badge("primary", "国服") }}{% endif %}
    {% if stat.is_pv %}{{ generate_tag_badge("success", "PV") }}{% endif %}
    {% if stat.is_pv_char %}{{ generate_tag_badge("success", "人物PV") }}{% endif %}
    {% if stat.is_pv_ani %}{{ generate_tag_badge("success", "动画PV") }}{% endif %}
    {% if stat.is_mv %}{{ generate_tag_badge("info", "MV") }}{% endif %}
    {% if stat.is_animation %}{{ generate_tag_badge("info", "动画") }}{% endif %}
    {% if stat.is_other %}{{ generate_tag_badge("info", "其它") }}{% endif %}
    {% if stat.is_ad %}{{ generate_tag_badge("secondary", "广告") }}{% endif %}
    {% if stat.is_ingame %}{{ generate_tag_badge("secondary", "游戏内") }}{% endif %}
    </div>
{% endmacro %}

{# 歌曲标签生成 #}
{% macro output_track_stat_badge_p2p3(stat) %}
    {# 仅生成第二、三部分（发行地区+使用情况） #}
    {% if stat.is_ba %}{{ generate_tag_badge("success", "游戏内") }}{% endif %}
    {% if not stat.is_ba %}
        {% if stat.is_jp %}{{ generate_tag_badge("success", "日服") }}{% endif %}
        {% if stat.is_global %}{{ generate_tag_badge("success", "国际服") }}{% endif %}
        {% if stat.is_cn %}{{ generate_tag_badge("success", "国服") }}{% endif %}
    {% endif %}

    {% if stat.is_story %}{{ generate_tag_badge("info", "故事曲") }}{% endif %}
    {% if stat.is_battle %}{{ generate_tag_badge("danger", "战斗曲") }}{% endif %}
    {% if stat.is_story_memory %}{{ generate_tag_badge("momo", "回忆大厅") }}{% endif %}
{% endmacro %}

{% macro output_track_stat_badge_all(stat) %}
    <div class="track-stats-badge stats-badge">
    {% if stat.is_ost %}{{ generate_tag_badge("primary", "OST") }}{% endif %}
    {% if stat.is_ani %}{{ generate_tag_badge("primary", "动画") }}{% endif %}
    {% if stat.is_short %}{{ generate_tag_badge("primary", "短篇动画") }}{% endif %}
    {% if stat.is_other %}{{ generate_tag_badge("primary", "其它") }}{% endif %}

    {{ output_track_stat_badge_p2p3(stat) }}

    {% if stat.has_related %}{{ generate_tag_badge("secondary", "有关联曲子") }}{% endif %}
    </div>
{% endmacro %}

{# usage: track_all.html #}
{% macro output_track_stat_badge_with_tags(tags, stat) %}
    <div class="track-stats-badge stats-badge">{% if tags|length != 0 %}{% for i in tags %}{% if loop.index == MAX_TRACK_TAG_OUTPUT %}{% break %}{% endif %}{{ generate_tag_span(i) }}&nbsp;{% endfor %}{% endif %}</div>
{% endmacro %}
