{% from "template/zh_cn/_macro.html" import filetype_to_name, tracktype_to_name, generate_track_anchor, generate_story_anchor, generate_appearedat_html, generate_character_anchor_flat, auto_zhcn_gen, generate_character_anchor %}
{% set curr_lang = "zh_cn" %}

{# JS代码生成 #}
{% macro tooltip_add_data_js(data) %}
    <script>
        add_tooltip_data({ {% for key, value in data.items() %}'{{ key }}': '{{ value|page_minify_html|js_html_string_safe }}',{% endfor %} });
    </script>
{% endmacro %}

{# ----------------------------------------------------------------------------------------------------- #}
{# ----------------------------------------------------------------------------------------------------- #}
{# ----------------------------------------------------------------------------------------------------- #}

{# 常量 #}
{% set MAX_CHAR_DISPLAY = 11 %} {# one-indexed, total 10 #}
{% set MAX_CHAR_DISPLAY_FOR_TRACK = 11 %} {# one-indexed, total 10 (for track usage) #}
{% set MAX_TRACK_DISPLAY = 6 %} {# one-indexed, total 5 #}
{% set MAX_STORY_DISPLAY = 6 %} {# one-indexed, total 6 #}

{# 提取所有story_part里头的desc #}
{% macro get_story_part_desc(story_part) %}{% for segment in story_part.data %}{{ auto_zhcn_gen(segment.desc) }}{% endfor %}{% endmacro %}

{# ----------------------------------------------------------------------------------------------------- #}
{# ----------------------------------------------------------------------------------------------------- #}
{# ----------------------------------------------------------------------------------------------------- #}

{# 用于StoryInfo（非StoryPartInfo） #}
{% macro tooltip_storyinfo(story) %}<div class="tooltip-div"><p class="tooltip-title tooltip-ellipsis">{{ auto_zhcn_gen(story.name) }}</p><ul>{% for desc in story.desc %}<li>{{ auto_zhcn_gen(desc) }}</li>{% endfor %}</ul></div>{% endmacro %}

{# 用于Track对StoryPartInfo的显示 #}
{# 传入的story是StoryInfo，用于显示大故事信息 [Deprecated] #}
{# 之后的story_part才是用来显示故事小节信息的 #}
{% macro tooltip_storypart(story, story_part) %}
    <div class="tooltip-div">
        <p class="tooltip-title tooltip-ellipsis">{{ auto_zhcn_gen(story_part.name) }}</p>
        <p>{{ get_story_part_desc(story_part) }}</p><hr />

        {# 读取全部人物与曲子 #}
        {% set all_characters = extract_storypart_data_character(story_part) %}
        {% set all_tracks = extract_storypart_data_track(story_part) %}

        <p>{% if all_characters|length == 0 %}<span>No characters to display!</span>{% else %}人物：{{ generate_character_anchor_flat(all_characters, MAX_CHAR_DISPLAY)|page_minify_html }}{% endif %}</p><hr />
        <p>{% if all_tracks|length == 0 %}无歌曲可显示！{% else %}歌曲：{% for track in all_tracks %}{% if loop.index == MAX_TRACK_DISPLAY %}&nbsp; and more.{% break %}{% else %}&nbsp;{{ generate_track_anchor(track, 0, 0, 0, 0, 0)|page_minify_html }}{% endif %}{% endfor %}{% endif %}</p>
    </div>
{% endmacro %}

{# 用于Track Story Character对BackgroundInfo的显示 #}
{# background传入一个由BackgroundInfo #}
{# instance_id指的是track/story的id(尤指instance_id)，用于过滤 #}
{# instance_type可选track/story，用于适配不同数据结构 #}
{# 假设 instance_type="track", instance_id="OST_17" #}
{# 这一函数应生成使用了这一背景，同时BGM包含（因为不精确到小节）OST_17的故事 #}
{% macro tooltip_background(background, instance_id, instance_type) %}
    <div class="tooltip-div">
        <p class="tooltip-title tooltip-ellipsis">{{ auto_zhcn_gen(background.name) }}</p>
        <p>{{ auto_zhcn_gen(background.desc) }}</p>
        <button type="button" class="btn btn-info"><a href="{{ background.image.value }}" target="_blank">查看完整照片</a></button>
        <hr />
        <p class="tooltip-subtitle">故事：</p>
        <ol class="tooltip-ol">
            {# 获取数据 #}
            {% if instance_type != "story" %}
                {% set loop_data = namespace(data=get_outer_json(instance_id, instance_type), counter=0) %}
            {% else %}
                {% set loop_data = namespace(data=get_outer_json(background.filename, "background"), counter=0) %}
            {% endif %}

            {# 提取数据 #}
            {% if loop_data.data.filetype == -53 %}
                {% set outer_data = loop_data.data.student.used_by.data_story %}
            {% else %}
                {% set outer_data = loop_data.data.used_by.data_story %}
            {% endif %}

            {# 遍历数据 #}
            {% set processed_data = py_tooltip_background(background, instance_id, instance_type, outer_data) %}
            {% for i in processed_data %}
                <li>{{ generate_story_anchor(i.0)|page_minify_html }}&nbsp;{{ generate_appearedat_html(i.0, i.1)|page_minify_html }}</li>
            {% endfor %}
        </ol>

        {% if background.character|length != 0 %}
        <hr />
        <p class="tooltip-subtitle">Character:</p>
        <p>{% for char in background.character[:-1] %}<span>{{ generate_character_anchor(char, 0, 0, background.uuid + "-direct", 0, 0, 0, 0) }}&nbsp;|&nbsp;</span>{% endfor %}{{ generate_character_anchor(background.character[-1], 0, 0, background.uuid + "-direct", 0, 0, 0, 0) }}</p>
        {% endif %}
    </div>
{% endmacro %}

{# 用于Background Character对TrackInfo的显示 #}
{# track传入一个TrackInfo #}
{# instance_id指的是background/character(实为uuid)/story的instance_id，用于过滤 #}
{# instance_type可选background/character/story #}
{% macro tooltip_track(track, instance_id, instance_type) %}
    <div class="tooltip-div">
        <p class="tooltip-title tooltip-ellipsis">{{ tracktype_to_name(track.track_type) }}&nbsp;{{ track.no }}.&nbsp;{{ track.name.realname.en|js_string_safe }}</p><hr />

        <p class="tooltip-subtitle">故事：</p>
        <ol class="tooltip-ol">
            {# 获取数据 #}
            {% set loop_data = namespace(data=get_outer_json(track.instance_id, "track"), counter=0) %}

            {# 提取数据 #}
            {% set outer_data = loop_data.data.used_by %}

            {# 遍历数据 #}
            {% set processed_data = py_tooltip_track(track, instance_id, instance_type, outer_data) %}
            {% for i in processed_data %}
                <li>{{ generate_story_anchor(i.0)|page_minify_html }}&nbsp;{{ generate_appearedat_html(i.0, i.1)|page_minify_html }}</li>
            {% endfor %}
        </ol>
        {% if instance_type == "story" %}
            <hr />
            <p class="tooltip-subtitle">人物 (前{{ (MAX_CHAR_DISPLAY_FOR_TRACK-1)|string }}个最相关):</p>
            {% set all_char = [] %}
            {% for char in outer_data.data_character.values() %}{% do all_char.append(char.0) %}{% endfor %}
            <p>{{ generate_character_anchor_flat(all_char, MAX_CHAR_DISPLAY_FOR_TRACK)|page_minify_html }}</p>
        {% endif %}
    </div>
{% endmacro %}


{# 用于Story Track对CharacterInfo的显示 #}
{# character传入CharacterInfo，应该是dict #}
{% macro tooltip_character(character, instance_id, instance_type) %}
    <div class="tooltip-div">
        {# 获取数据 #}
        {% if character.filetype == 52 %}
            {# NPC #}
            {% set loop_data = namespace(data=get_outer_json(character.namespace[-1], "character")) %}
        {% else %}
            {% set loop_data = namespace(data=get_outer_json(character.uuid, "character")) %}
        {% endif %}
        {# 提取数据 #}
        {% if loop_data.data.filetype == 52 %}
            {# NPC #}
            {% set char_data = loop_data.data %}
            {% set char_type = "npc" %}
        {% else %}
            {# Student #}
            {% set char_data = loop_data.data.student %}
            {% set char_type = "stu" %}
        {% endif %}
        {% set outer_data = char_data.used_by %}

        {# 大标题 #}
        {% if char_type == "npc" %}
            <p class="tooltip-title tooltip-ellipsis">{{ auto_zhcn_gen(char_data.name) }}</p>
        {% else %}
            <p class="tooltip-title tooltip-ellipsis">{{ auto_zhcn_gen(char_data.name.name) }}</p>
        {% endif %}
        <hr />

        <p class="tooltip-subtitle">故事：</p>
        {# 同时关联的故事 #}
        <ol class="tooltip-ol">
            {% set processed_data = py_tooltip_character(character, instance_id, instance_type, loop_data.data) %}
            {% for i in processed_data %}
                <li>{{ generate_story_anchor(i.0)|page_minify_html }}&nbsp;{{ generate_appearedat_html(i.0, i.1)|page_minify_html }}</li>
            {% endfor %}
        </ol>
    </div>
{% endmacro %}
