{% from 'template/base/_macro.html' import a_new_tab, get_storypart_text_color_css, get_stu_type_text_color_css, generate_popup_for_tooltip_anchor %}
{% from 'template/zh_cn/_macro.html' import generate_ui_anchor, generate_track_anchor, generate_track_anchor, generate_background_anchor, generate_character_anchor, generate_story_anchor, generate_appearedat_html, filetype_to_name, get_social_for_composer, auto_zhcn_gen, nothing_to_show, generate_album_anchor, output_track_stat_badge_with_tags, generate_general_urlmodel_anchor, output_story_source_by_lang %}
{% from 'template/zh_cn/_macro_tooltip.html' import tooltip_add_data_js, tooltip_storyinfo, tooltip_storypart, tooltip_background, tooltip_track, tooltip_character, tooltip_album %}
{% set curr_lang = "zh_cn" %}

{% macro output_usedby_story(data_story, instance_uuid, instance_key) %}
    {% set _curr_filetype = namespace(filetype=0) %}
    {% set tooltip_data = {} %}

    {% set processed_data = py_output_usedby_story(data_story, instance_uuid, instance_key) %}
    {% for filetype, story_list in processed_data.items() %}
        <h4>{{ filetype_to_name(filetype) }}故事</h4>

        <ul>
        {% for story in story_list %}
            {% set story_ = story.0 %}
            {% set related_parts = story.1 %}
            {% set storyinfo_tooltip = generate_tooltip_id() %}

            <li id="story-{{ story_.instance_id }}">{{ generate_story_anchor(story_, storyinfo_tooltip) }}&nbsp;{{ generate_appearedat_html(story_, related_parts) }}</li>
            {% do tooltip_data.update({storyinfo_tooltip: tooltip_storyinfo(story_)}) %}

            {% for i in related_parts %}
                {% do tooltip_data.update({i.3: tooltip_storypart(story_, i.0)}) %}
            {% endfor %}
        {% endfor %}
        </ul>
    {% else %}
        <p>{{ nothing_to_show }}</p>
    {% endfor %}

    {{ tooltip_add_data_js(tooltip_data) }}
{% endmacro %}

{% macro output_usedby_battle(data_battle) %}
    <ul>
        {% for key, value in data_battle.items() %}
            {% set value = value[0] %}
            <li id="{{ value.uuid }}">
            {% if value.filetype == 21 %}
                {% if value.no[0] == "N" %}
                    {% set mission_type = "普通" %}
                {% else %}
                    {% set mission_type = "困难" %}
                {% endif %}
                    <a href="/{{ curr_lang }}/main/battle/main/{{ value.chapter }}/{{ value.no }}.html#track" target="_blank">主线任务 第{{ value.chapter }}章 第{{ value.no[1] }}个任务 ({{ mission_type }}, 第{{ value.no[2] }}个子任务)</a>
            {% elif value.filetype == 22 %}
                {% if value.no[0] == "N" %}
                    {% set mission_type = "普通" %}
                {% else %}
                    {% set mission_type = "挑战" %}
                {% endif %}
                    <a href="/{{ curr_lang }}/event/{{ value.event_id }}/{{ value.no }}.html#track" target="_blank">活动{{ auto_zhcn_gen(value.parent_data.0.name) }} 第{{ value.no[1:] }}个任务 ({{ mission_type }}): {{ auto_zhcn_gen(value.name) }}</a>
            {% else %}
                {% if value.filetype == 24 %}
                    {% set mission_type = "total_assault" %}
                {% elif value.filetype == 25 %}
                    {% set mission_type = "bounty_hunt" %}
                {% elif value.filetype == 26 %}
                    {% set mission_type = "school_exchange" %}
                {% else %}
                    {% set mission_type = "special_commision" %}
                {% endif %}
                    <a href="/{{ curr_lang }}/main/battle/{{ mission_type }}/{{ value.id }}.html#track" target="_blank">{{ auto_zhcn_gen(value.name) }}</a>
            {% endif %}
            </li>
        {% else %}
            <li>{{ nothing_to_show }}</li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro output_usedby_ui(data_ui) %}
    <ul>
        {% for key, value in data_ui.items() %}
            {% set i = value.0 %}

            <!--Special case for UiInfoEvent-->
            <li id="{{ i.uuid }}">{{ generate_ui_anchor(i) }}</li>
        {% else %}
            <li>{{ nothing_to_show }}</li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro output_usedby_ui_list(data_ui) %}
    <ul>
        {% for i in data_ui %}
            <li>{{ generate_ui_anchor(i) }}</li>
        {% else %}
            <li>{{ nothing_to_show }}</li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro output_usedby_ui_for_all_ui(data_ui) %}
    <ul>
        {% for i in data_ui %}
            {% set i = i[1] %}

            <!--Special case for UiInfoEvent-->
            <li>{{ generate_ui_anchor(i) }}</li>
        {% else %}
            <li>{{ nothing_to_show }}</li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro output_usedby_background(data_background, html_id, instance_id, instance_type, bg_direct) %}
    {% if instance_type in ["track", "character"] %}
        {% set tooltip_data = {} %}
        {% set enable_tooltip = 1 %}
    {% endif %}

    <div class="gallery">
        {% for key, value in data_background.items() %}
            {% if enable_tooltip == 1 %}
                {% set tooltip_id = generate_tooltip_id() %}
            {% endif %}

            <div class="gallery-img" id="{{ value.0.uuid }}{% if arg_check(bg_direct) %}-direct{% endif %}">{{ generate_background_anchor(value.0, html_id, tooltip_id, value.1, True) }}</div>

            {% if enable_tooltip == 1 %}
                {% do tooltip_data.update({tooltip_id: tooltip_background(value.0, instance_id, instance_type)}) %}
            {% endif %}
        {% else %}
            <p>{{ nothing_to_show }}</p>
        {% endfor %}
    </div>

    {% if enable_tooltip == 1 %}
        {{ tooltip_add_data_js(tooltip_data) }}
    {% endif %}
{% endmacro %}

{% macro output_usedby_background_list(data_background, html_id, instance_id, instance_type) %}
    {% if instance_type in ["story"] %}
        {% set tooltip_data = {} %}
        {% set enable_tooltip = 1 %}
    {% endif %}

    <div class="gallery">
        {% for value in data_background %}
            {% if enable_tooltip == 1 %}
                {% set tooltip_id = generate_tooltip_id() %}
            {% endif %}

            <div class="gallery-img">{{ generate_background_anchor(value, html_id, tooltip_id) }}</div>

            {% if enable_tooltip == 1 %}
                {% do tooltip_data.update({tooltip_id: tooltip_background(value, instance_id, instance_type)}) %}
            {% endif %}
        {% else %}
            <td>{{ nothing_to_show }}</td>
        {% endfor %}
    </div>

    {% if enable_tooltip == 1 %}
        {{ tooltip_add_data_js(tooltip_data) }}
    {% endif %}
{% endmacro %}

{% macro output_usedby_track(data_track, with_counter, html_id, instance_id, instance_type) %}
    {% set _with_counter = with_counter or 0 %}
    {% if instance_type in ["character", "background"] %}
        {% set tooltip_data = {} %}
        {% set enable_tooltip = 1 %}
    {% endif %}

    <ul>
        {% for key, value in data_track.items() %}
            {% set track = value.0 %}

            {% if enable_tooltip == 1 %}
                {% set tooltip_id = generate_tooltip_id() %}
            {% endif %}

            <li id="track-{{ track.instance_id }}">{{ generate_track_anchor(track, _with_counter, value.1, html_id, tooltip_id) }}  {{ output_track_stat_badge_with_tags(track.tags) }}</li>

            {% if enable_tooltip == 1 %}
                {% do tooltip_data.update({tooltip_id: tooltip_track(track, instance_id, instance_type)}) %}
            {% endif %}
        {% else %}
            <li>{{ nothing_to_show }}</li>
        {% endfor %}
    </ul>

    {% if enable_tooltip == 1 %}
        {{ tooltip_add_data_js(tooltip_data) }}
    {% endif %}
{% endmacro %}

{% macro output_usedby_track_list(data_track, html_id, instance_type, instance_id) %}
    <ul>
        {% if instance_type == "story" or instance_type == "album" %}
            {% set tooltip_data = {} %}
            {% set enable_tooltip = 1 %}
        {% endif %}

        {% for value in data_track %}
            {% if enable_tooltip == 1 %}
                {% set tooltip_id = generate_tooltip_id() %}
            {% endif %}

            <li id="track-{{ value.instance_id }}">{{ generate_track_anchor(value, 0, 0, html_id, tooltip_id) }} {{ output_track_stat_badge_with_tags(value.tags) }}</li>

            {% if enable_tooltip == 1 %}
                {% do tooltip_data.update({tooltip_id: tooltip_track(value, instance_id, instance_type)}) %}
            {% endif %}
        {% else %}
            <li>{{ nothing_to_show }}</li>
        {% endfor %}
    </ul>

    {% if enable_tooltip == 1 %}
        {{ tooltip_add_data_js(tooltip_data) }}
    {% endif %}
{% endmacro %}

{% macro output_usedby_video(data_video, instance_id) %}
    <ul>
        {% for key, value in data_video.items() %}
            {% set value = value.0 %}

            <li id="{{ value.uuid }}"><a href="/en/video/{{ value.namespace.1 }}.html{% if instance_id %}#{{ instance_id }}{% endif %}" target="_blank">视频 <i>{{ auto_zhcn_gen(value.name) }}</i></a>: {{ auto_zhcn_gen(value.desc) }}</li>
        {% else %}
            <li>{{ nothing_to_show }}</li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro output_usedby_character(data_character, html_id, instance_id, instance_type, output_combat_info, combat_leader_pos, character_html_id) %}
    {% if instance_type in ["story", "character", "background"] %}
        {% set enable_tooltip = 1 %}
        {% set tooltip_data = {} %}
    {% endif %}

    <ul>
        {% for char in data_character.character %}
            {% if enable_tooltip == 1 %}
                {% set tooltip_id = generate_tooltip_id() %}
            {% endif %}

            {% if arg_check(character_html_id) %}
                {% if char.filetype == 52 %}
                    {% set character_html_id = char.namespace[-1] %}
                {% else %}
                    {% set character_html_id = char.uuid %}
                {% endif %}
                {% set html_id = "" %}
            {% endif %}

            {% set char_by_comm = False %}
            {% if instance_type == "story" %}
                {% if arg_check(char.is_comm) %}
                    {% set char_by_comm = True %}
                {% endif %}
            {% endif %}

            {% if arg_check(output_combat_info) and loop.index0 == combat_leader_pos %}
                <li {% if arg_check(character_html_id) %}id="{{ character_html_id }}-direct"{% endif %}>{{ generate_character_anchor(char, 1, 1, html_id, tooltip_id, output_combat_info, 1, char_by_comm, 0) }}</li>
            {% else %}
                <li {% if arg_check(character_html_id) %}id="{{ character_html_id }}-direct"{% endif %}>{{ generate_character_anchor(char, 1, 1, html_id, tooltip_id, output_combat_info, 0, char_by_comm, 0) }}</li>
            {% endif %}

            {% if enable_tooltip == 1 %}
                {% do tooltip_data.update({tooltip_id: tooltip_character(char, instance_id, instance_type)}) %}
            {% endif %}
        {% else %}
            <li>{{ nothing_to_show }}</li>
        {% endfor %}
    </ul>

    {% if enable_tooltip == 1 %}
        {{ tooltip_add_data_js(tooltip_data) }}
    {% endif %}
{% endmacro %}

{# 魔改自 output_usedby_character #}
{% macro output_relatedto_character(data_character, use_ul) %}
    {% if not use_ul or use_ul == "True" %}
        {% set use_ul = 1 %}
    {% else %}
        {% set use_ul = 0 %}
    {% endif %}

    {% if use_ul == 1 %}
    <ul>
    {% endif %}
        {% for char in data_character.character %}
            {% if use_ul == 1 %}<li>{% endif %}

            {{ generate_character_anchor(char, 0, 0, 0, 0, 0, 0, 0, 1) }}

            {% if use_ul == 1 %}</li>{% else %}{% if not loop.last %}<br />{% endif %}{% endif %}
        {% else %}
            {% if use_ul == 1 %}<li>{{ nothing_to_show }}</li>{% else %}{{ nothing_to_show }}{% endif %}
        {% endfor %}
    {% if use_ul == 1 %}
    </ul>
    {% endif %}
{% endmacro %}

{% macro output_usedby_character_dict(data_character, html_id, instance_id, instance_type, is_direct) %}
    {# used for track.html for exporting track-character relationship #}
    {% set tooltip_data = {} %}

    <ul>
        {% for key, value in data_character.items() %}
            {% set ref_counter = value.1 %}
            {% set char = value.0 %}

            {% set tooltip_id = generate_tooltip_id() %}

            <li id="{{ char.uuid }}{% if arg_check(is_direct) %}-direct{% endif %}"><span>【{{ ref_counter }}】</span>{{ generate_character_anchor(char, 1, 1, html_id, tooltip_id, 0, 0, 0, 0) }}</li>
            {% do tooltip_data.update({tooltip_id: tooltip_character(char, instance_id, instance_type)}) %}
        {% else %}
            <li>{{ nothing_to_show }}</li>
        {% endfor %}
    </ul>

    {{ tooltip_add_data_js(tooltip_data) }}
{% endmacro %}

{% macro track_version_video_player(versions) %}
    {% for version in versions %}
        {% set _version_index = loop.index %}

        <h3>{{ auto_zhcn_gen(version.desc) }}</h3>
        {% for url in version.url %}
            <div onclick="playEmbeddedVideo('{{ url.value }}', 'track-video-{{ _version_index }}-{{ loop.index }}')" id="track-video-{{ _version_index }}-{{ loop.index }}" class="track-video-div">
                <p><img src="{{ get_static('images/social/' + url.platform.en + '.png') }}" class="social-logo">{{ auto_zhcn_gen(url.platform) }} ({{ url.value }})</p>
            </div>
            <div id="track-video-{{ _version_index }}-{{ loop.index }}-container"></div>
        {% endfor %}
    {% endfor %}
{% endmacro %}

{% macro output_track_album(albums, track) %}
    <ul>
        {% set tooltip_data = {} %}
        {% for album in albums %}
            {% set tooltip_id = generate_tooltip_id() %}
            <li id="album-{{ album.album_id }}" data-tooltip="{{ tooltip_id }}" onmouseover="showTooltipById(this)">{{ generate_album_anchor(album, True, "track-" + track.instance_id) }}{{ generate_popup_for_tooltip_anchor(tooltip_id) }}</li>

            {% do tooltip_data.update({tooltip_id: tooltip_album(album)}) %}
        {% endfor %}
    </ul>

    {{ tooltip_add_data_js(tooltip_data) }}
{% endmacro %}

{# 用于StoryInfo列出来源 #}
{% macro output_storyinfo_source(source_dict) %}
    {% set player_html_id = "storyinfo-source-player" %}
    <ul class="storyinfo-source-ul">
        <li>英语：{{ output_story_source_by_lang(source_dict.en, player_html_id) }}</li>
        <li>中文繁体：{{ output_story_source_by_lang(source_dict.zh_tw, player_html_id) }}</li>
        <li>中文简体（国服）：{{ output_story_source_by_lang(source_dict.zh_cn_cn, player_html_id) }}</li>
        <li>中文简体（日服）：{{ output_story_source_by_lang(source_dict.zh_cn_jp, player_html_id) }}</li>
    </ul>
    <div id="{{ player_html_id }}"></div>
{% endmacro %}
