<footer>
    <div class="git-wiki-copyrights">
        <p><a href="https://github.com/BA-OST-Index">BA OST Index</a> 是一个由 <a href="https://github.com/sctop">sctop</a> 创建的项目。</p>
        <p>此网站是 <a href="https://github.com/Drassil/git-wiki-theme">Git-Wiki
            v2.8.5</a> 的一个修改版本，原版本由 <a href="https://github.com/Drassil">Drassil</a> 制作。</p>
        <p>此网站托管在 GitHub Pages 上并由 CloudFlare 进行增强。</p>
        <small>
            <p>页面生成于{{ get_current_utc() }} (UTC)</p>
            <p>自2023年06月06日以来，BA OST Index项目已开发<b><span><span id="project-time-day"></span>天&nbsp;<span id="project-time-hour"></span>时<span id="project-time-minute"></span>分<span id="project-time-second"></span>秒</span></b></p>
        </small>
    </div>
    <script>
        addEventListener("load", function () {showProjectTime(); setInterval(showProjectTime, 1000);})
    </script>
</footer>