<table id="infobox">
    <tr>
        <td colspan="2" class="infobox-title">{{ album.name.en }}</td>
    </tr>
    <tr>
        <td colspan="2" class="infobox-icon"><img width="80%" src="{{ album.cover_img }}"></td>
    </tr>
    <tr><td colspan="2" class="infobox-subtitle">General Information</td></tr>
    <tr>
        <td class="infobox-col-title">Release Date</td>
        <td class="infobox-col-value">{{ album.release_date_format }}</td>
    </tr>
    <tr>
        <td class="infobox-col-title">Discs Number</td>
        <td class="infobox-col-value">{{ album.disc_num }}</td>
    </tr>
    <tr>
        <td class="infobox-col-title">Tracks Number</td>
        <td class="infobox-col-value">{{ album.track_num }}</td>
    </tr>
</table>