{% from "template/en/_macro.html" import tag_altogether %}
<table id="infobox">
    <tr>
        <td colspan="2" class="infobox-title">{{ background.name.en }}</td>
    </tr>
    <tr>
        <td colspan="2" class="infobox-icon">
            <img width="90%" src="{{ background.image.value }}">
            <button type="button" style="margin-top: 0.4em"><a href="{{ background.image.value }}" target="_blank">View Full Image</a></button>
        </td>
    </tr>
    <tr><td colspan="2" class="infobox-subtitle">General Information</td></tr>
    <tr>
        <td class="infobox-col-title">Full Name</td>
        <td class="infobox-col-value">{{ background.name.en }}</td>
    </tr>
    <tr>
        <td class="infobox-col-title">Description</td>
        <td class="infobox-col-value">{{ background.desc.en }}</td>
    </tr>
    <tr>
        <td class="infobox-col-title">Tags</td>
        <td class="infobox-col-value">{{ tag_altogether(background.tags, background.uuid) }}</td>
    </tr>
</table>