{% from 'template/en/_macro.html' import get_social_for_composer %}
<table id="infobox">
    <tr>
        <td colspan="2" class="infobox-title">{{ composer.nickname }}</td>
    </tr>
    <tr><td colspan="2" class="infobox-subtitle">General Information</td></tr>
    <tr>
        <td class="infobox-col-title">Realname</td>
        <td class="infobox-col-value">{{ composer.realname }}</td>
    </tr>
    <tr>
        <td class="infobox-col-title">Nickname</td>
        <td class="infobox-col-value">{{ composer.nickname }}</td>
    </tr>
    <tr>
        <td class="infobox-col-title">Contact</td>
        <td class="infobox-col-value">{{ get_social_for_composer(composer) }}</td>
    </tr>
</table>