{% from "template/en/_macro_page.html" import output_relatedto_character %}
<table id="infobox">
    <tr>
        <td colspan="2" class="infobox-title">{{ char.name.en }}</td>
    </tr>
    <tr>
        <td colspan="2" class="infobox-icon"><img width="80%" src="{{ char.image.value }}"></td>
    </tr>
    <tr><td colspan="2" class="infobox-subtitle">General Information</td></tr>
    <tr>
        <td class="infobox-col-title">Full Name</td>
        <td class="infobox-col-value">{{ char.name.en }} <span lang="jp">({{ char.name.jp }})</span></td>
    </tr>
    <tr><td colspan="2" class="infobox-subtitle">Related Characters</td></tr>
    <tr>
        <td class="infobox-col-title">Other Characters</td>
        <td class="infobox-col-value">{{ output_relatedto_character({"character": char.related_to.character_other}, "False") }}</td>
    </tr>
</table>