<table id="infobox">
    <tr>
        <td colspan="2" class="infobox-title">{{ char.student.name.family_name.en }} {{ char.student.name.personal_name.en }}</td>
    </tr>
    <tr>
        <td colspan="2" class="infobox-icon"><img width="95%" src="/static/images/student/portrait/Portrait_{{ char.student.name.dev_name }}.webp"><br/><br/><img width="50%" src="/static/images/student/icon/{{ char.student.image.collection_texture }}.png" /></td>
    </tr>
    <tr><td colspan="2" class="infobox-subtitle">General Information</td></tr>
    <tr>
        <td class="infobox-col-title">Full Name</td>
        <td class="infobox-col-value">{{ char.student.name.family_name.en }} {{ char.student.name.personal_name.en }}<br/><span lang="jp">{{ char.student.name.family_name.jp }} {{ char.student.name.personal_name.jp }}</span></td>
    </tr>
    <tr>
        <td class="infobox-col-title">Age</td>
        <td class="infobox-col-value">{{ char.student.age.en }}</td>
    </tr>
    <tr>
        <td class="infobox-col-title">Birthday</td>
        <td class="infobox-col-value">{{ char.student.birthday.en }}</td>
    </tr>
    <tr>
        <td class="infobox-col-title">School/Club Info</td>
        <td class="infobox-col-value">{{ char.student.school.long.en }}<br/>{{ char.student.club.en }}</td>
    </tr>
    <tr>
        <td class="infobox-col-title">Hobby</td>
        <td class="infobox-col-value">{{ char.student.hobby.en }}</td>
    </tr>
</table>