<table id="infobox">
    <tr>
        <td colspan="2" class="infobox-title">{{ tag.name.en }}</td>
    </tr>
    <tr><td colspan="2" class="infobox-subtitle">General Information</td></tr>
    <tr>
        <td class="infobox-col-title">Tag Name</td>
        <td class="infobox-col-value">English: {{ tag.name.en }}<br />Chinese (Simplified): {{ tag.name.zh_cn }}<br />Chinese (Traditional): {{ tag.name.zh_tw }}</td>
    </tr>
    <tr>
        <td class="infobox-col-title">Color</td>
        <td class="infobox-col-value">{{ tag.color }}<br/>{{ tag.color_css }}</td>
    </tr>
</table>