{% from "template/en/_macro.html" import tag_altogether, get_social_for_composer, tracktype_to_name, generate_track_anchor %}
<table id="infobox">
    <tr>
        <td colspan="2" class="infobox-title">{{ track.no }}. {{ track.name.realname.en }}</td>
    </tr>
    <tr>
        <td colspan="2" class="infobox-icon"><img src="{{ track.image.value }}" /></td>
    </tr>
    <tr><td colspan="2" class="infobox-subtitle">General Information</td></tr>
    <tr>
        <td class="infobox-col-title">Track Name (no.)</td>
        <td class="infobox-col-value">{{ track.name.realname.en }} ({{ track.no }})</td>
    </tr>
    <tr>
        <td class="infobox-col-title">Also known as (aka):</td>
        <td class="infobox-col-value">{% for i in track.name.known_as %}{{ i.en }}<br />{% endfor %}</td>
    </tr>
    <tr>
        <td class="infobox-col-title">Duration</td>
        <td class="infobox-col-value">{{ track.duration }}s ({{ track.duration_splited.0 }}min {{ track.duration_splited.1 }}s)</td>
    </tr>
    <tr>
        <td class="infobox-col-title">Released Date</td>
        <td class="infobox-col-value">{{ track.release_date_format }} ({{ track.release_date }})</td>
    </tr>
    <tr>
        <td class="infobox-col-title">Tags</td>
        <td class="infobox-col-value">{{ tag_altogether(track.tags, "track-" + track.instance_id) }}</td>
    </tr>
    <tr>
        <td class="infobox-col-title">Track Type</td>
        <td class="infobox-col-value">{{ tracktype_to_name(track.track_type) }}</td>
    </tr>
    {% if track.composer.composer_id != "0" %}
    <tr><td colspan="2" class="infobox-subtitle">Composer Information</td></tr>
    <tr>
        <td class="infobox-col-title">Nickname</td>
        <td class="infobox-col-value">{{ track.composer.nickname }}</td>
    </tr>
    <tr>
        <td class="infobox-col-title">Contact</td>
        <td class="infobox-col-value"><a href="/en/composer/{{ track.composer.namespace[-1] }}.html">{{ track.composer.no }}. {{ track.composer.nickname }}</a></td>
    </tr>
    {% endif %}
    <tr><td colspan="2" class="infobox-subtitle">Version Information</td></tr>
    {% for version in track.version %}
        <tr>
            <td class="infobox-col-title">{{ version.desc.en }}</td>
            <td class="infobox-col-value">{% for i in version.url %}<a href="{{ i.value }}" target="_blank"><img src="{{ get_static('images/social/' + i.platform.en + '.png') }}" class="social-logo">{{ i.platform.en }}</a>{% if i.short_desc.en != "" %}&nbsp;({{ i.short_desc.en }}){% endif %}<br/>{% endfor %}</td>
        </tr>
    {% endfor %}
    <tr><td colspan="2" class="infobox-subtitle">Related Tracks</td></tr>
    <tr>
        <td class="infobox-col-title">Other Tracks</td>
        <td class="infobox-col-value">{% for i in track.related_to.track_other %}{{ generate_track_anchor(i, 0, 0, 0, 0, 0) }}<br />{% else %}No related tracks!{% endfor %}</td>
    </tr>
</table>