{% from "template/en/_macro.html" import tag_altogether %}
<table id="infobox">
    <tr>
        <td colspan="2" class="infobox-title">{{ video.name.en }}</td>
    </tr>
    <tr>
        <td colspan="2" class="infobox-icon"><img width="80%" src="{{ video.image.value }}"></td>
    </tr>
    <tr><td colspan="2" class="infobox-subtitle">Version Information</td></tr>
    {% for version in video.version %}
        <tr>
            <td class="infobox-col-title">{{ version.desc.en }}</td>
            <td class="infobox-col-value">{% for i in version.url %}<a href="{{ i.value }}"><img src="{{ get_static('images/social/' + i.platform.en + '.png') }}" class="social-logo">{{ i.platform.en }}</a>&nbsp;&nbsp;{% endfor %}</td>
        </tr>
    {% endfor %}
</table>